.maquinaria>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #ED2F4C;
    --color-withe: #EEE8F2;
}

body {
    background: var(--color-withe);
}

.maquinaria {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(17, 1fr);
}

.bg-maq {
    position: absolute;
    bottom: 0;
    height: 100vh;
}

.bg_constructionCity {
    left: 0;
    mix-blend-mode: color-burn;
    z-index: -1;
}

.bg_particles {
    right: 0;
    z-index: -1;
}

.title__maquinaria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row: 1/5;
    grid-column: 1/13;
    align-items: end;
}

.title__maquinaria h1 {
    grid-row: 4/5;
    grid-column: 2/12;
    color: #EB162C;
    font-family: "Bahnschrift";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.container__elements-maquinaria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-row: 5/18;
    grid-column: 1/13;
}

.container__info {
    display: flex;
    flex-direction: column;
    grid-column: 6/7;
    grid-row: 2/7;
}

.container__info img {
    width: 120px;
    margin: 0 0 0 0;
}

.container1__elemnts {
    grid-column: 2/7;
    grid-row: 1/13;
}

.cont1form {
    display: flex;
    grid-column: 8/11;
    grid-row: 1/13;
}

.vehiculo {
    object-fit: cover;
    width: calc(8.33vw*3.3);
    max-height: calc(5.88vh*8);
    grid-row: 5/12;
    grid-column: 4/7;
    z-index: 1;
    position: relative;
}

.info__maquinaria-container-text {
    display: grid;
    height: calc(5.88vh*3);
    width: calc(8.33vw*3);
    flex-shrink: 0;
    margin: 10px 5.88vh 0 0;

}

.info__maquinaria-container-back {
    grid-row: 1/1;
    height: calc(5.88vh*11);
    width: calc(8.33vw*3);
    position: absolute;
    mix-blend-mode: soft-light;
    background: var(--color-withe);
    border-radius: 20px;
}

.info__maquinaria-container-text p {
    color: #6B6B6B;
    text-align: justify;
    font-family: "Bahnschrift";
    margin: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    z-index: 1;
}

.imgCont {
    margin: 80px 0 0 20px;
}

.container__elements-img {
    width: calc(8.33vw*2);
}

.container__info-img1 {
    padding-bottom: 10px;
}

.img-bottom {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.Group {
    display: none;
}

.bg_particles {
    display: flex;
}

@media screen and (max-width: 768px) {
    .maquinaria {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(34, 1fr);
    }

    .bg_constructionCity {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100vw;
        mix-blend-mode: color-burn;
    }

    .title__maquinaria {
        grid-row: 4/7;
        grid-column: 2/12;
    }

    .title__maquinaria h1 {
        grid-row: 4/5;
        grid-column: 2/12;
        font-size: 23px;
        margin: 0;
    }

    .container__elements-img {
        display: none;
    }

    .container__elements-maquinaria {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(26, 1fr);
        grid-row: 8/34;
        grid-column: 2/12;
    }

    .container1__elemnts {
        grid-row: 15/27;
        grid-column: 1/7;
        width: 100%;
    }

    .cont1form {
        grid-row: 1/14;
        grid-column: 1/11;
    }

    .mediaq {
        display: flex;
    }

    .container__form {
        width: calc(8.33vw*10);
    }

    .content__form-select>select {
        font-size: 10px;
    }

    .mediaqdesk {
        display: none;
        width: calc(8.33vw*10);
    }

    .info__maquinaria-container-back {
        height: calc(5.88vh*5.5);
        width: calc(8.33vw*5.3);
        position: absolute;
        mix-blend-mode: soft-light;
        background: var(--color-withe);
        border-radius: 20px;
    }

    .info__maquinaria-container-text p {
        text-align: justify;
        margin: 15px;
        font-size: 8px;
    }

    .info__maquinaria-container-text {
        display: grid;
        height: calc(5.88vh*5.5);
        width: calc(8.33vw*5.3);
        flex-shrink: 0;
        margin: 10px 5.88vh 0 0;
    }

    .vehiculo {
        object-fit: cover;
        width: calc(8.33vw*7);
        grid-row: 19/26;
        grid-column: 3/10;
        margin: 0;
    }

    .imgCont {
        width: calc(8.33vw*1);
        margin: 15px;
    }

    .container__info {
        grid-row: 15/23;
        grid-column: 8/11;
    }

    .container__info img {
        width: 95px;
    }

    .Group {
        display: flex;
        z-index: -1;
        width: 100%;
        height: 80%;
        top: 0;
    }


    .bg_particles {
        display: none;
    }
}