@font-face {
  font-family: "Klik";
  src: local("Klik"),

}

.soluciones_section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17, 1fr);
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.soluciones_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 3/5;
  grid-row: 7/11;
  position: relative;
  z-index: 1;
}

.soluciones_buttons>button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  justify-content: flex-start;
  align-items: center;
  width: calc(8.33vw * 2.5);
  height: calc(5.88vh * 0.8);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  margin-bottom: calc(5.88vh * 0.5);
  color: #6b6b6b;
  text-align: justify;
  font-size: 1.5rem;
}

.soluciones_button_check {
  height: 2vh;
  width: 2vh;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5vw;
  box-shadow: 0px 4px 4px #030d4f;
}

.soluciones_buttons label {
  color: #6B6B6B;
  font-family: "Bahnschrift";
  font-size: 2vh;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.dot {
  width: 0.8vh;
  height: 0.8vh;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.soluciones_button_dontcheck {
  height: 20px;
  width: 20px;
  background-color: #6b6b6b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  opacity: 0.2;
  box-shadow: 0px 4px 4px #030d4f;
}

.pedestales_equipos {
  clip-path: ellipse(50% 40% at 50% 50%);
  width: calc(8.33vw * 3);
  height: calc(5.88vh * 2);
  box-shadow: 0px 38px 5px 0px rgba(207, 50, 50, 1);
  background-color: #eee8f2;
  margin-bottom: calc(5.88vh);
}

.main_box {
  display: flex;
  justify-content: center;
}

.main_box_pedestales {
  position: absolute;
  top: calc(5.88vh * 10.5);
  left: calc(8.33vw * 4.5);
  filter: drop-shadow(0px 10px 5px rgba(172, 30, 30, 0.429));
  display: flex;
}


/**/
.image-container {
  grid-column: 1/3;
  grid-row: 5/12;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.image-container img {
  width: calc(8.33vw*2.5);
}

.text-overlay {
  display: none;
  opacity: 0;
  /* Hacemos que el texto inicialmente sea invisible */
  background-color: var(--azulClaro);
  color: var(--azulOscuro);
  transition: opacity 0.3s;
  padding: 10px;
  /* Agregamos una transición para que aparezca suavemente */

}

.image-container:hover .text-overlay {
  display: block;
  position: relative;
  z-index: 1;
  opacity: 1;
  background: #6B6B6B;
  margin-top: -150px;
  margin-left: 160px;
  font-size: 1.8vh;
  width: calc(8.33vw*2);
  height: auto;
  /* Al hacer hover, el texto se hace visible */
}

.containerImgHover {
  width: 280px;
  padding: -100px 50px 0px 200px;
  color: #EEE8F2;
  margin: 20px;
  z-index: -1;
}

.imgHover {
  width: 80px;
}

.imgNube2 {
  width: calc(8.33vw*1);
}

.cont--title--img {
  display: flex;
}

.cont--title--img {
  color: #EB162C;
  font-family: "klik";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img--termometro {
  width: 20px;
}

.soluciones_section1_header {
  grid-column: 2/9;
  grid-row: 1/2;
  position: relative;
  z-index: 1;
}

.soluciones_section1_header h1 {
  color: #EB162C;
  font-family: "klik";
  font-size: 8vh;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
}

.soluciones_section1_row {
  grid-row: 3/4;
  grid-column: 1/8;
  position: relative;
  z-index: 1;
}

.soluciones_section1_label {
  clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0% 100%);
  width: calc(8.33vw * 8);
  height: calc(5.88vh * 1.5);
  background: #fff;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  margin-top: -2vw;
  display: flex;
  align-items: center;
  color: #6B6B6B;
  font-family: "Bahnschrift";
  font-size: 2.4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.soluciones_section1_label h2 {
  margin-left: 20px;
}

.soluciones_slides {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-column: 5/12;
  grid-row: 4/17;
}

input[type="radio"]+label::before {
  content: "";
  width: calc(2vh);
  height: calc(2vh);
  float: left;
  background: #6b6b6b48;
  filter: drop-shadow(0px 2px 2px #030D4F);
  display: flex;
  align-items: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked+label::before {
  background-color: #EB162C;
  filter: drop-shadow(0px 4px 2px #030D4F);
  z-index: -1;
}

input[type="radio"]:checked+label::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-left: -10px;
  margin-top: 8px;
  z-index: 5;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked {
  color: red;
}

.cont--side__rigth {
  position: absolute;
  right: calc(8.33vw*1);
  width: calc(8.33vw*2);
  height: 100vh;
  flex-shrink: 0;
  background-color: rgba(30, 140, 147, 0.20);
  mix-blend-mode: multiply;
}

.cont--img__sideRigth {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.cont--img__sideRigth>img {
  width: 100%;
  height: 100vh;
}

.cont--selection_radio {
  display: flex;
}

.monitoreo_buttons_solutions_trans {
  display: flex;
  flex-direction: column;
  gap: calc(2.94vh*.7);
}

.monitoreo_buttons_solutions_trans>div {
  display: grid;
  align-items: center;
}

.monitoreo_buttons_solutions_trans>div>.classspan {
  margin-left: 0.6vh;
}

.monitoreo_buttons_solutions_trans>div>label {
  grid-column: 1/1;
  grid-row: 1/1;
}

/**/

@media screen and (max-width: 992px) {
  .soluciones_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(34, 1fr);
    height: 100vh;
    width: 100%;
    background-color: #fff;
  }

  .soluciones_section1_header {
    grid-row: 1/2;
    /* grid-column: 2/12; */
    grid-column: 3/13;
  }

  .soluciones_section1_header>h1 {
    font-size: 30px;
  }

  .soluciones_slides {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, 1fr);
    grid-column: 3/13;
    grid-row: 16/31;
  }

  .soluciones_section1_row {
    grid-row: 2/4;
    grid-column: 1/12;
  }

  .soluciones_buttons {
    grid-row: 8/15;
    grid-column: 3/13;
    margin-left: 0;
    margin-top: 0;
    gap: 20px;
    justify-content: flex-start;
    width: calc(8.33vw*10);
  }

  .image-container {
    grid-row: 6/14;
    grid-column: 4/10
  }

  .image-container img {
    width: calc(8.33vw*6);
  }

  .soluciones_section1_label>h2 {
    font-size: 17px;
    margin-left: 10px;
  }

  .soluciones_section1_label {
    height: 40px;
  }

  .image-container:hover .text-overlay {
    margin-top: -150px;
    margin-left: 76px;
    font-size: 8px;
    width: calc(8.33vw*4);
    height: auto;
  }

  .cont--img__sideRigth {
    right: 0;
    top: 300px;
    bottom: 0;
    z-index: 0;
    display: flex;
    align-items: flex-end;
  }

  .cont--img__sideRigth>img {
    width: 100%;
    height: 80%;
    opacity: 0.5;
  }

  .cont--side__rigth {
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
  }

  .cont--side__rigth {
    bottom: 0;
    height: calc(2.94vh*29);
  }
}