.MuiModal-root {
  background: rgba(30, 140, 147, .2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_home_m {
  height: calc(5.88vh*11);
  width: calc(8.33vw*8);
}

.content__swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_promo_slide {
  width: calc(8.33vw*8);
  height: calc(5.88vh*11);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(11, 1fr);
  filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.25));
}

.swiper_promo_slide_red {
  display: flex;
  grid-column: 1/5;
  grid-row: 1/12;
  background-color: #ED2F4C;
  width: calc(8.33vw * 4);
  height: calc(5.88vh * 11);
  border-bottom-left-radius: 21px;
  border-top-left-radius: 21px;
}

.swiper_promo_slide_white {
  display: flex;
  grid-column: 5/9;
  grid-row: 1/12;
  width: calc(8.33vw * 4);
  height: calc(5.88vh * 11);
  justify-content: center;
  mix-blend-mode: multiply;
  background-color: #fff;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
}

.text--slideWhite__home {
  color: #FFF;
  text-align: justify;
  font-family: "Bahnschrift";
  font-size: 20px;
  max-width: calc(8.33vw*2.5);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: calc(5.88vh*2);
  margin-left: calc(8.33vw*0.5);
}

.hr-c>hr {
  height: calc(5.88vh*1);
  margin-bottom: calc(5.88vh*1);
}

.content--slideRed__monitoreo>p {
  color: #6B6B6B;
  font-family: Bahnschrift;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media only screen and (max-width: 600px) {
  .swiper_promo_slide {
    align-items: flex-start;
    margin-top: calc(5.88vh * 2);
    background-color: #eee8f2;
    height: calc(5.88vh * 11) !important;
    border-radius: 21px;
  }

  .swiper_promo_slide>img {
    display: flex;
    height: calc(5.88vh * 8);
  }
}