@import url(/node_modules/swiper/swiper-bundle.min.css);
.swiper {
  height: calc(5.88vh * 12) !important;
  width: 100% !important;
  margin-top: calc(5.88vh * 3);
  z-index: 19;
}
.swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.swiper_home_start {
  display: flex;
  flex-direction: column;
  width: calc(8.33vw * 3);
  margin-top: calc(5.88vh);
}
.swiper_home_start > img {
  max-width: calc(8.33vw * 3);
  max-height: calc(5.88vh * 4);
}
.swiper_home_end {
  display: flex;
  flex-direction: column;
  width: calc(8.33vw * 4);
  margin-top: calc(5.88vh * 2);
}
.swiper_home_start_title {
  clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
  width: calc(8.33vw * 2);
  height: calc(5.88vh * 1);
  background-color: #eb162c;
  color: white;
  flex-direction: column;
  text-align: center;
  margin-bottom: calc(5.88vh);
}
.swiper_home_end_line {
  width: 100%;
  height: calc(5.88vh * 0.8);
  border-left: solid 1px red;
}
.swiper_home_end > h6 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  color: #6b6b6b;
  margin-left: calc(5.88vh * 0.5);
}
@media only screen and (max-width: 600px) {
  .swiper_home {
    margin-top: calc(5.88vh * 7);
  }
}
