.confirmation>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #ED2F4C;
    --color-withe: #EEE8F2;
    --colorGreen: #1E8C93;
}

body {
    background: var(--color-withe);
}

.confirmation {
    background-image: url("../../assets/MONTAJE_PANTALLAS_PLAT6.png");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(17, 1fr);
    align-items: end;
    height: 100vh;
    width: 100%;
}

.content1__confirmation-red {
    display: flex;
    justify-content: space-around;
    grid-row: 2/3;
    grid-column: 4/9;
    align-items: center;
    width: calc(8.33vw*5);
    height: calc(5.88vh*1.5);
    background-color: var(--color-red);
    color: var(--color-withe);
    font-family: "Bahnschrift";
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.content2__confirmation-info {
    grid-row: 4/17;
    grid-column: 1/13;
    max-height: calc(5.88vh*15);
    height: 100%;
}

.content2__confirmation-info h2 {
    color: var(--color-red);
    font-family: "Klik";
    font-size: 180px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.content-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.content-text>* {
    margin: 0;
}

.content2__container-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: calc(8.33vw*10);
    height: calc(5.88vh*1.5);
    background: var(--colorGreen);
    color: var(--color-withe);
    font-family: "Bahnschrift";
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.content2__confirmation-info img {
    width: 70px;
}

.mediamobile {
    display: none;
}

.cont__logo-bottom {
    grid-column: 6/8;
    grid-row: 13/16;
    text-align: center;
}

.logo__bottom {
    width: 80px;
    grid-column: 7/9;
    grid-row: 13/16;
}

@media screen and (max-width: 768px) {

    .confirmation {
        background: none;
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(34, 1fr);
    }

    .content1__confirmation-red {
        display: flex;
        grid-row: 6/7;
        grid-column: 3/11;
        align-items: center;
        width: calc(8.33vw*9);
        height: calc(2.94vh*2);
        font-size: 30px;
    }

    .content2__confirmation-info {
        display: grid;
        grid-row: 9/31;
        grid-column: 2/11;
        max-height: calc(5.88vh*15);
        height: 100%;
    }

    .content2__container-blue {
        display: none;
    }

    .mediamobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content1__confirmation-red img {
        width: calc(8.33vw*1.5);
    }


    .content-text h2 {
        text-align: center;
        font-size: 70px;
    }

    .mediamobile p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px;
        border-radius: 10px;
        height: calc(2.94vh*1.5);
        background: var(--colorGreen);
        color: var(--color-withe);
        font-family: "Bahnschrift";
        font-size: 23px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
    }

    .content1__confirmation-red p {
        font-size: 20px;
    }

    .p1 {
        width: calc(8.33vw*8);
    }

    .p2 {
        width: calc(8.33vw*7);
    }

    .p3 {
        width: calc(8.33vw*10);
    }

    .cont__pantallas img {
        width: calc(8.33vw*10);
        height: calc(2.94*9);
    }

    .content2__confirmation-info img {
        width: 100%;
    }

    .cont__logo-bottom {
        grid-column: 6/8;
        grid-row: 29/32;
    }

    .logo__bottom {
        grid-column: 6/8;
        grid-row: 29/32;
        width: calc(8.33vw*2);

    }


}