.equipos_section1 {
  width: 100%;
  height: 100vh;
  background-color: #eee8f2;
}
.equipos_section1_bg {
  width: 100%;
  height: 100%;
  background: url("../../assets/fondoEquipos.png");
  background-size: cover;
  opacity: 1 !important;
}
.equipos_section1_footer {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  height: calc(5.88vh * 1);
  background-color: red;
}
.equipos_section1_sensor{
  display: flex;
  flex-direction: row;
  margin-top: calc(5.88vh*2.5);
  margin-bottom: calc(-5.88vh*0.5);
  margin-left: calc(8.33vw*1.2);
  z-index: 2;
  height: calc(5.88vh*4);
}
.pedestales_sensor {
  clip-path: ellipse(50% 40% at 50% 50%);
  width: calc(8.33vw * 2.5);
  height: calc(5.88vh * 1);
  box-shadow: 0px 10px 5px 0px rgba(207, 50, 50, 1);
  background-color: #eee8f2;
}
.main_box_pedestales_sensor {
  filter: drop-shadow(0px 10px 5px rgba(172, 30, 30, 0.458));
  display: flex;
}
.equipos_section1_sensor_text{
  margin-top: calc(5.88vh*2);
  border-left: 1px solid red;
  height: calc(5.88vh*0.4);
  padding-left: calc(8.33vw*0.2);
  color: #6b6b6bad;
  font-size: 2vh;
}
.equipos_section1_sensor_text:hover{
  height: calc(5.88vh*0.8);
  color: #1e8c93;
  border-left: 3px solid #1e8c93;
  padding-left: calc(8.33vw*0.4);
  transition: padding-left 1s, height 1s;
}
.equipos_section2_column {
  display: flex;
  flex-direction: column;
  margin-left: calc(8.33vw * 2);
  padding-top: calc(5.88vh*5);
  margin-right: calc(8.33vw);
  align-items: center;
}
.equipos_section2_column > h1 {
  font-size: calc(8.33vw * 0.5);
  font-family: "Kiona";
  font-style: normal;
  font-weight: 400;
  color: #6b6b6b;
  margin-block-start: 0vh;
}
.equipos_section2_label {
  clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
  width: calc(8.33vw * 4.5);
  height: calc(5.88vh * 1.5);
  background: #eee8f2;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  margin-top: -5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.equipos_section2_label > h2 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  color: #1e8c93;
}
.equipos_section2_circleIcon {
  align-self: flex-end;
  margin-right: calc(8.33vw * 2.2);
}
.equipos_section2 {
  height: 100vh;
  width: 100%;
  background: url("../../assets/excavadora.png");
  background-size: 50vw 50vh;
  background-repeat: no-repeat;
  background-position-x: 20vw;
  background-position-y: 27vh;
  background-color: #eee8f2;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}
.equipos_section3 {
  height: 100vh;
  width: 100%;
  background: url("../../assets/duster.svg");
  background-size: 80vw 70vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 25vh;
  background-color: #eee8f2;
  display: flex;
  flex-direction: row;
}
.equipos_section4 {
  height: 100vh;
  width: 100%;
  background: url("../../assets/persona_caminando.png");
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  background-position-x: 40vw;
  background-position-y: 15vh;
  background-color: #eee8f2;
  display: flex;
  flex-direction: row;
}
.equipos_section2_start {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  isolation: isolate;
}
.equipos_section2_startbg{
  position: absolute;
  width: 50%;
  height: inherit;
  background-color: #eb162b;
  mix-blend-mode: multiply;
}
.equipos_section2_start_column {
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh * 6);
  margin-left: calc(8.33vw);
  width: calc(8.33vw * 3);
  color: white;
}

.equipos_section2_start > h1 {
  font-family: "Kiona";
  font-style: normal;
  font-weight: 900;
  font-size: 6.3vh;
  margin-right: 2vw;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  mix-blend-mode: normal;
  color: white;
  line-height: 0vh;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.equipos_section2_start_buttons {
  width: 100%;
  height: calc(5.88vh);
  border-left: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.equipos_section2_start_buttons > a {
  width: calc(8.33vw * 1);
  height: calc(5.88vh * 0.5);
  margin-inline: 0.5vw;
  background-color: #eee8f2;
  color: #eb162b;
  border: 0.5px solid white;
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 100;
  font-size: 0.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
}
.equipos_section2_start_buttons > a:hover {
  background-color: white;
  color: red;
}
.equipos_section2_start_buttons > a:active {
  background-color: rgba(255, 255, 255, 0.631);
  color: red;
}
.equipos_section2_start_buttons > a > img {
  height: calc(5.88vh * 0.5);
}
.equipos_section2_start_column > p {
  text-align: justify;
  font-size: 1.3vw;
}
.equipos_section2_end {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.equipos_section2_end > img {
  width: calc(8.33vw);
  margin-bottom: calc(5.88vh * 8);
}
.equipos_section2_start_column > img {
  height: calc(5.88vh * 2);
  margin-top: calc(5.88vh);
}
.equipos_section2_end_table {
  display: table;
  background: rgba(252, 252, 252) !important;
  width: calc(8.33vw * 2);
  border: 1px solid red;
  margin-top: calc(5.88vh * 6);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 350;
  line-height: 29px;
}
.equipos_section2_end_row {
  display: table-row;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  background-color: red;
  color: white;
  width: calc(8.33vw * 2);
}
.equipos_section2_end_row:nth-child(even) {
  color: #6b6b6b;
  background-color: white;
}
.equipos_section2_end_cell:nth-child(even) {
  color: #6b6b6b;
  background-color: white;
}
.equipos_section2_end_cell {
  display: table-cell;
  text-align: center;
  height: 5vh;
  width: 8.33vw;
}
.equipos_section2_end_title1 {
  display: table-cell;
  text-align: center;
  background-color: red;
  color: white;
  text-align: end;
}
.equipos_section2_end_title2 {
  display: table-cell;
  text-align: center;
  background-color: red;
  color: white;
  text-align: start;
}
.equipos_section3_start {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.equipos_section3_start > img {
  width: calc(8.33vw * 2);
  margin-bottom: calc(5.88vh * 3);
}
.equipos_section3_end {
  width: 50%;
  height: inherit;
  isolation: isolate;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.equipos_section3_end_bg {
  position: absolute;
  right: 0vw;
  width: 50%;
  height: inherit;
  background-color: #eb162b;
  mix-blend-mode: multiply;
}
.equipos_section3_end > h1 {
  font-family: "Kiona";
  font-style: normal;
  font-weight: 900;
  font-size: 6.3vh;
  margin-left: 1.7vw;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  mix-blend-mode: normal;
  color: white;
  line-height: 0vh;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.equipos_section3_end_column {
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh * 6);
  margin-right: calc(8.33vw);
  width: calc(8.33vw * 3);
  color: white;
}
.equipos_section3_end_column > img {
  height: calc(5.88vh * 2);
  margin-top: calc(5.88vh);
}
.equipos_section3_end_column > p {
  text-align: justify;
  font-size: 1.3vw;
}
.equipos_section_sensores{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eee8f2;
}
.equipos_section_sensores_header{
  display: flex;
  flex-direction: row;
}
.equipos_section_sensores_buttons{
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh*2);
  margin-left: calc(8.33vw);
}
.equipos_section_sensores_buttons>button{
  display: flex;
  flex-direction: column;
  height: calc(5.88vh*4);
  width: calc(8.33vw*2);
  margin-bottom: calc(5.88vh);
  background-color: #eee8f2;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  border: none;
  color: rgba(107, 107, 107, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.equipos_section_sensores_buttons>button>img{
  height: calc(5.88vh*2);  
}
.equipos_section_sensores_buttons>button:hover{
  background-color: #1e8b93b2;
}

.equipos_section_sensores_buttons>button:active{
  background-color: #1E8C93;
}
.equipos_section_sensores_buttons_toggle>img{
  height: calc(5.88vh*3) !important;
}
.equipos_section_sensores_body{
  display: flex;
  flex-direction: column;
  margin-left: calc(8.33vw);
  margin-top: calc(5.88vh*2);
}
.equipos_section_sensores_title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.equipos_section_sensores_title>img{
  width: calc(8.33vw);
}
.equipos_section_sensores_title>h3{
  color: rgba(237, 47, 76, 0.5);
  border-left: 1px solid rgba(237, 47, 76, 0.5);
  padding-left: calc(8.33vw*0.2);
  margin-left: calc(8.33vw*0.5);
  font-size: calc(8.33vw*0.3);
}
.equipos_section_sensores_body>p{
  width: calc(8.33vw*6);
  color: #6B6B6B;
  margin-top: calc(5.88vh*2);
  font-size: 1.4vw;
  margin-bottom: 0vh;
}
.equipos_section_sensores_body_buttons{
  display: flex;
  flex-direction: row;
  margin-top: calc(5.88vh*2);
  width: calc(8.33vw*6);
  justify-content: space-around;
}
.equipos_section_sensores_body_buttons>button{
  width: calc(8.33vw*1.7);
  height: calc(5.88vh);
  background-color: #eee8f2;
  color: #1E8C93;
  box-shadow: 0px 7.52941px 11.2941px rgba(235, 22, 44, 0.25);
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;;
}
.equipos_section_sensores_body_buttons>button>img{
  height: calc(5.88vh*0.6);
}
.equipos_section_sensores_body_buttons>a{
  text-decoration: none;
}
.equipos_section_sensores_body_buttons>a>button{
  width: calc(8.33vw*1.7);
  height: calc(5.88vh);
  background-color: #eee8f2;
  color: #1E8C93;
  box-shadow: 0px 7.52941px 11.2941px rgba(235, 22, 44, 0.25);
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.equipos_section_sensores_body_buttons>a>button>img{
  height: calc(5.88vh*0.6);
}
.equipos_section_sensores_downside{
  height: calc(5.88vh*5);
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 1;
}
.equipos_section_sensores_downside>img{
  height: calc(5.88vh*4);
  margin-top: 14vh;
  opacity: 0.40;
}
.equipos_section_sensores_downside>img:hover{
  margin-top: 7vh;
  opacity: 1;
  transition: all 1s;
}
.text_suport_equipos{
  opacity: 0;
  position: fixed;
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  background-color: #6B6B6B;
  color: #eee8f2;
  padding-inline: 1.5vw;
}
.text_suport_equipos:nth-child(2){
  top: 75vh;
  left: 20vw;
}
.text_suport_equipos:nth-child(4){
  top: 75vh;
  left: 45vw;
}
.text_suport_equipos:nth-child(6){
  top: 75vh;
  left: 67vw;
}
.text_suport_equipos:nth-child(8){
  top: 75vh;
  left: 90vw;
}
.equipos_section_sensores_downside>img:nth-child(1):hover + .text_suport_equipos{
  opacity: 1;
}
.equipos_section_sensores_downside>img:nth-child(3):hover + .text_suport_equipos{
  opacity: 1;
}
.equipos_section_sensores_downside>img:nth-child(5):hover + .text_suport_equipos{
  opacity: 1;
}
.equipos_section_sensores_downside>img:nth-child(7):hover + .text_suport_equipos{
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .equipos_section2_column {
    padding-top: calc(5.88vh * 5);
  }
  .equipos_section2_column > h1 {
    font-size: 4vh;
    margin-top: calc(5.88vh * 0.1);
    font-weight: 800;
  }
  .equipos_section2_label {
    margin-top: calc(-5.88vh * 0.3);
    height: calc(5.88vh * 0.8);
    width: calc(8.33vw * 7);
  }
  .equipos_section2_label > h2 {
    font-size: 2vh;
  }
  .equipos_section2_circleIcon > img {
    height: calc(5.88vh * 0.5);
  }
  .equipos_section2_circleIcon {
    margin-right: calc(8.33vw);
  }
  .equipos_section1_bg {
    background-size: 200vw 30vh;
    background-repeat: no-repeat;
    background-position-y: 65vh;
  }
  .equipos_section2_start > h1 {
    font-size: 2vh;

    text-shadow: 0px 0 white, 0 0px white, 0px 0 white, 0 0px white;
    }
  .equipos_section2_start_buttons {
    padding-left: calc(8.33vw);
    height: calc(5.88vh * 0.6);
  }
  .equipos_section2_start_buttons > a {
    font-size: 0.7vh;
    width: calc(8.33vw * 3);
    height: calc(5.88vh * 0.5);
    border-radius: 10%;
  }
  .equipos_section2_start_column > p {
    font-size: 1vh;
  }
  .equipos_section2 {
    background-position-y: 5vh;
    background-position-x: 10vw;
    background-size: 40vh;
    height: 30vh;
  }
  .equipos_section3{
    height: 30vh;
    background-size: 30vh;
    background-position-x: center;
    background-position-y: 0vh;
  }
  .equipos_section4{
    height: 30vh         ;
  }
  .equipos_section2_end > img {
    margin-top: calc(5.88vh * 5);
    margin-left: calc(8.33vw * 0);
  }
  .equipos_section2_end_row {
    font-size: 0.7vh;
    height: 3vh;
    width: calc(8.33vw * 4);
  }
  .equipos_section2_end_cell {
    height: calc(5.88vh * 0.2);
    width: calc(8.33vw * 3);
  }
  .equipos_section3_end > h1 {
    font-size: 2vh;
    text-shadow: 0px 0 white, 0 0px white, 0px 0 white, 0 0px white;
  }
  .equipos_section3_end_column {
    font-size: 1vh;
  }
  .equipos_section4 {
    background-size: 20vh;
    background-position-x: 40vw;
    background-position-y: 5vh;
  }
  .equipos_section2_start_column{
    opacity: 0;
  }
  .equipos_section3_end_column{
    opacity: 0;
  }
  .equipos_section1_sensor{
    flex-direction: column;
  }
  .equipos_section1_sensor>img{
    height: calc(5.88vh*3);
    margin-top: calc(5.88vh);
  }
  .pedestales_sensor{
    width: calc(8.33vw*6);
  }
  .equipos_section1_sensor_text{
    margin-top: calc(5.88vh*5);
    display: none;
  }
  .equipos_section2_end_table{
    display: none;
    width: calc(8.33vw*3);
    margin-top: calc(5.88vh);
    isolation: isolate;
    z-index: 3;
  }
  .equipos_section_sensores_body_buttons{
    display: none;
  }
  .equipos_section_sensores_header{
    flex-direction: column;
  }
  .equipos_section_sensores_buttons{
    flex-direction: row;
    justify-content: space-around;
  }
  .equipos_section_sensores_buttons>button{
    width: calc(8.33vw*4.7);
    height: calc(5.88vh*2.5);
  }
  .equipos_section_sensores_buttons>button>img{
    height: calc(5.88vh*1.5);
  }
  .equipos_section_sensores_title{
    justify-content: center
  }
  .equipos_section_sensores_title>img{
    width: auto;
    height: calc(5.88vh*3);
  }
  .equipos_section_sensores_title>h3{
    font-size: 2vh;
  }.equipos_section_sensores_body>p{
    margin-top: 3vh;
    font-size: 1.5vh;
    width: auto;
  }
  .equipos_section_sensores_downside>img{
    height: calc(5.88vh*2);
    margin-top: calc(5.88vh*4);
  }
}
