:root {
  --colorGreen: #1e8c93;
  --colorRed1: #ed2f4c;
  --colorRed2: #EB162C;
  --colorRedWine: rgba(235, 22, 44, 0.25);
  --colorGray: #6b6b6b;
  --colorWhite: #eee8f2;
  --typography: "Bahnschrift";
}

@font-face {
  font-family: "Klik";
  src: local("Klik"),
    url("../../assets/Klik-Light.otf") format("opentype")
}

.equipos_section1 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.div1--equipos_section1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(17, 1fr);
  width: 50%;
  height: 100vh;
  background: #FFF;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-out;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.container--circle {
  display: flex;
  align-items: center;
  grid-row: 3/5;
  grid-column: -3/-2;
}

.circle {
  width: 50px;
}

.circle1 {
  width: 50px;
}

.circleImg {
  margin-top: -5px;
}

.container--circle1 {
  display: flex;
  align-items: center;
  grid-row: 3/5;
  grid-column: -3/-2;
  transition-duration: 0.5s;
}

.container--title--div1--equipos_section1 {
  grid-column: -6/-2;
  grid-row: 5/6;
  width: calc(8.33vw*5);
  display: flex;
}

.container--subTitle--div1--equipos_section1 {
  display: flex;
  grid-column: -5/-2;
  grid-row: 6/7;
}

.div1--equipos_section1>.contimg {
  text-align: end;
}

.div1--equipos_section1>a {
  text-decoration: none;
  display: flex;
}

.div1--equipos_section1:hover {
  width: calc(8.33vw*8);
  grid-template-columns: repeat(8, 1fr);
  z-index: 10;
  transition: all 0.5s ease-out;
  max-height: 100vh;
}

.div1--equipos_section1:hover>.container--title--div1--equipos_section1 {
  grid-column: -7/-2;
}

.div1--equipos_section1:hover>.container--subTitle--div1--equipos_section1 {
  grid-column: -6/-2;
}

.div1--equipos_section1:hover>.contimg {
  grid-column: -7/-1;
}

.div1--equipos_section1:hover .container--button--div1--equipos_section1 {
  background-color: #1E8C93;
  color: #fff;
}

.div1--equipos_section1:hover .container--button--div1--equipos_section1>.iconMas1 {
  display: none;
}

.div1--equipos_section1:hover .container--button--div1--equipos_section1>.iconMas2 {
  display: block;
}

.div2--equipos_section1 {
  width: 50%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(17, 1fr);
  transition: all 0.5s ease-out;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.div2--equipos_section1:hover {
  width: calc(8.33vw*8);
  grid-template-columns: repeat(8, 1fr);
  z-index: 10;
  transition: all 0.5s ease-out;
  max-height: 100vh;
}

.div2--equipos_section1:hover .container--circle1 {
  grid-column: -5/-4;
}

.div2--equipos_section1:hover .container--subTitle--div2--equipos_section1 {
  grid-column: -7/-4;
}

.div2--equipos_section1:hover .container--title--div2--equipos_section1 {
  grid-column: -9/-4;
}

.ab-container--button--div2--equipos_section1 {
  grid-column: -4/-2;
  grid-row: 10/11;
  text-decoration: none;
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
}

.div2--equipos_section1:hover .ab-container--button--div2--equipos_section1 {
  grid-column: -6/-4;
}

.div2--equipos_section1:hover .container--button--div1--equipos_section1 {
  background-color: #1E8C93;
  color: #fff;
}

.container--button--div1--equipos_section1 img {
  width: 25px;
}

.div2--equipos_section1:hover .container--button--div1--equipos_section1>.iconMas1 {
  display: none;
}

.div2--equipos_section1:hover .container--button--div1--equipos_section1>.iconMas2 {
  display: block;
}

.div2--equipos_section1:hover+.div1--equipos_section1 {
  position: relative;
  left: calc(8.33vw*-2);
  top: 0;
}

.container--title--div2--equipos_section1 {
  grid-column: -8/-2;
  display: flex;
  flex-direction: row-reverse;
  grid-row: 5/6;
  margin-left: calc(8.33vw*0.5);
}

.container--title--div1--equipos_section1>h2,
.container--title--div2--equipos_section1>h2 {
  color: #6B6B6B;
  font-family: Klik;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0;
}

.container--subTitle--div1--equipos_section1>h2,
.container--subTitle--div2--equipos_section1>h2 {
  color: #1E8C93;
  font-family: Bahnschrift;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.a-container--button--div1--equipos_section1 {
  grid-column: -4/-2;
  grid-row: 10/11;
  z-index: 10;
}

.container--button--div1--equipos_section1 {
  width: calc(8.33vw*1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E8C93;
  font-family: Bahnschrift;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 7.52941px 11.29412px 0px rgba(235, 22, 44, 0.25);
  gap: 10px;
  height: 50px;
}

.container--subTitle--div2--equipos_section1 {
  grid-column: -5/-2;
  width: calc(8.33vw*3);
  display: flex;
  grid-row: 6/7;
}

.equipos_section1_bg {
  width: 100%;
  height: 115vh;
  background: url("../../assets/fondoEquipos.png");
  background-size: cover;
  opacity: 1 !important;
}

.equipos_section1_footer {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  height: calc(5.88vh * 1);
  background-color: red;
}

.equipos_section1_sensor {
  display: flex;
  flex-direction: row;
  margin-top: calc(5.88vh*2.5);
  margin-bottom: calc(-5.88vh*0.5);
  margin-left: calc(8.33vw*1.2);
  z-index: 2;
  height: calc(5.88vh*4);
}

.equipos_section1_sensor_text {
  margin-top: calc(5.88vh*2);
  border-left: 1px solid red;
  height: calc(5.88vh*0.4);
  padding-left: calc(8.33vw*0.2);
  color: #6b6b6bad;
  font-size: 2vh;
}

.equipos_section1_sensor_text:hover {
  height: calc(5.88vh*0.8);
  color: var(--colorGreen);
  border-left: 3px solid var(--colorGreen);
  padding-left: calc(8.33vw*0.4);
  transition: padding-left 1s, height 1s;
}

.contimg,
.contimg2 {
  grid-column: 1/7;
  grid-row: 7/18;
}

.contimg>img,
.contimg2>img {
  height: 100%;
  max-width: 100%;
}

.iconMas2 {
  display: none;
}

/*******************************************************************************/
/*******************************************************************************/
.pedestales_sensor {
  clip-path: ellipse(50% 40% at 50% 50%);
  width: calc(8.33vw * 2.5);
  height: calc(5.88vh * 1);
  box-shadow: 0px 10px 5px 0px rgba(207, 50, 50, 1);
  background-color: var(--colorWhite);
}

.main_box_pedestales_sensor {
  filter: drop-shadow(0px 10px 5px rgba(172, 30, 30, 0.458));
  display: flex;
}

.equipos_section2_column {
  display: flex;
  flex-direction: column;
  margin-left: calc(20.33vw * 2);
  padding-top: calc(5.88vh*5);
  margin-right: calc(8.33vw);
  align-items: center;
}

.equipos_section2_column>h1 {
  font-size: calc(8.33vw * 0.5);
  font-family: "klik";
  font-style: normal;
  font-weight: 700;
  color: var(--colorGray);
  margin-block-start: 0vh;
}

.equipos_section2_label {
  clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
  width: calc(8.33vw * 4.5);
  height: calc(5.88vh * 1.5);
  background: var(--colorWhite);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  margin-top: -5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipos_section2_label>h2 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  color: var(--colorGreen);
}

.equipos_section2_circleIcon {
  align-self: flex-end;
  margin-right: calc(5.33vw * 2.2);
}

.equipos_section2 {
  height: 100vh;
  width: 100%;
  background: url("../../assets/Group\ 60.png");
  background-size: 60vw 60vh;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-position-y: 27vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

.equipos_section3 {
  height: 100vh;
  width: 100%;
  background: url("../../assets/Group\ 59.svg");
  background-size: 50VW;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.equipos_section4 {
  height: 100vh;
  width: 100%;
  background: url("../../assets/persona_caminando.png");
  background-size: 30vw;
  background-repeat: no-repeat;
  background-position-x: 45vw;
  background-position-y: 15vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.equipos_section2_start {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  isolation: isolate;
}

.equipos_section2_startbg {
  position: absolute;
  width: 50%;
  height: inherit;
  background-color: var(--colorRed1);
  mix-blend-mode: multiply;
}

.img_Particles {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.5;
}

.equipos_section2_start_column {
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh * 6);
  margin-left: calc(8.33vw);
  width: calc(8.33vw * 3);
  color: white;
}

.equipos_section2_start>h1 {
  font-family: "klik";
  font-style: normal;
  font-weight: 700;
  font-size: 7.3vh;
  margin-right: 12px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  mix-blend-mode: normal;
  color: white;
  line-height: 0vh;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.equipos_section2_start_buttons {
  width: 100%;
  height: calc(5.88vh);
  border-left: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.equipos_section2_start_buttons>a {
  width: calc(8.33vw * 1);
  height: calc(7.88vh * 0.5);
  margin-inline: 0.5vw;
  background-color: var(--colorWhite);
  color: #eb162b;
  border: 0.5px solid white;
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 100;
  font-size: 0.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}

.icons {
  margin: 10px;
}

.textContainerIcons {
  font-size: 10px;
  font-weight: 700;
  margin: 5px;
}

.equipos_section2_start_buttons>a:hover {
  background-color: white;
  color: red;
}

.equipos_section2_start_buttons>a:active {
  background-color: rgba(255, 255, 255, 0.631);
  color: red;
}

.equipos_section2_start_buttons>a>img {
  height: calc(5.88vh * 0.5);
}

.equipos_section2_start_column>p {
  text-align: justify;
  font-size: 1.3vw;
}

.equipos_section2_end {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.equipos_section2_end>img {
  display: grid;
  width: calc(8.33vw);
  grid-column: 8/7;
  grid-row: 4/8;
}

.equipos_section2_start_column>img {
  height: calc(5.88vh * 2);
  margin-top: calc(5.88vh);
}

.equipos_section2_end_table {
  display: table;
  background: rgba(252, 252, 252) !important;
  width: calc(8.33vw * 2);
  border: 1px solid red;
  margin-top: calc(5.88vh * 6);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 350;
  line-height: 29px;
}

.equipos_section2_end_row {
  display: table-row;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  background-color: red;
  color: white;
  width: calc(8.33vw * 2);
}

.equipos_section2_end_row:nth-child(even) {
  color: var(--colorGray);
  background-color: white;
}

.equipos_section2_end_cell:nth-child(even) {
  color: var(--colorGray);
  background-color: white;
}

.equipos_section2_end_cell {
  display: table-cell;
  text-align: center;
  height: 5vh;
  width: 8.33vw;
}

/* .equipos_section2_end_title1 {
  display: table-cell;
  text-align: center;
  background-color: red;
  color: white;
  text-align: end;
}

.equipos_section2_end_title2 {
  display: table-cell;
  text-align: center;
  background-color: red;
  color: white;
  text-align: start;
} */

.equipos_section3_start {
  width: 50vw;
  max-height: 59vh;
  min-height: 59vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: end;
  align-items: center;
}

.imgFmc920 {
  width: calc(8.33vw * 2);
  grid-column: 4/7;
  grid-row: 5/8;
}

.imgSuntech {
  width: 18vh;
  grid-column: 2/4;
  grid-row: 4/9;
}

.equipos_section3_end {
  width: 50%;
  height: inherit;
  isolation: isolate;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.equipos_section3_end_bg {
  position: absolute;
  right: 0vw;
  width: 50%;
  height: inherit;
  background-color: var(--colorRed1);
  mix-blend-mode: multiply;
}

.equipos_section3_end>h1 {
  font-family: "klik";
  font-style: normal;
  font-weight: 900;
  font-size: 6.3vh;
  margin-left: 0.5vw;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  mix-blend-mode: normal;
  color: white;
  line-height: 0vh;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.equipos_section3_end_column {
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh * 6);
  margin-right: calc(8.33vw);
  width: calc(8.33vw * 3);
  color: white;
}

.equipos_section3_end_column>img {
  height: calc(5.88vh * 2);
  margin-top: calc(5.88vh);
}

.equipos_section3_end_column>p {
  text-align: justify;
  font-size: 1.3vw;
}

.equipos_section_sensores {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.equipos_section_sensores_header {
  display: flex;
  flex-direction: row;
}

.equipos_section_sensores_buttons {
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh*2.3);
  margin-left: calc(8.33vw);
}

.equipos_section_sensores_buttons>button {
  display: flex;
  flex-direction: column;
  height: calc(5.88vh*4);
  width: calc(8.33vw*2);
  margin-bottom: calc(5.88vh);
  background-color: #fff;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  border: none;
  color: rgba(107, 107, 107, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.textContainerEquipos {
  font-size: 1.5rem;
}

.equipos_section_sensores_buttons>button>img {
  height: calc(5.88vh*2);
}

.equipos_section_sensores_buttons>button:hover {
  background-color: #1e8b93b2;
}

.equipos_section_sensores_buttons>button:active {
  background-color: var(--colorGreen);
}

.equipos_section_sensores_buttons_toggle>img {
  height: calc(5.88vh*3) !important;
}

.equipos_section_sensores_body {
  display: flex;
  flex-direction: column;
  margin-left: calc(8.33vw);
  margin-top: calc(5.88vh*4);
}

.equipos_section_sensores_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.equipos_section_sensores_title>img {
  width: calc(8.33vw);
}

.equipos_section_sensores_title>h3 {
  color: rgba(237, 47, 76, 0.5);
  border-left: 1px solid rgba(237, 47, 76, 0.5);
  font-family: var(--typography);
  padding-left: calc(8.33vw*0.2);
  margin-left: calc(8.33vw*0.5);
  font-size: calc(8.33vw*0.3);
}

.equipos_section_sensores_body>p {
  width: calc(8.33vw*6);
  color: #6B6B6B;
  font-size: 1.4vw;
  margin-bottom: 0vh;
}

.equipos_section_sensores_body_buttons {
  display: flex;
  flex-direction: row;
  margin-top: calc(5.88vh*1);
  width: calc(8.33vw*6);
  justify-content: space-around;
}

.equipos_section_sensores_body_buttons>button {
  width: calc(8.33vw*1.7);
  height: calc(5.88vh);
  background-color: #fff;
  color: #1E8C93;
  box-shadow: 0px 7.52941px 11.2941px rgba(235, 22, 44, 0.25);
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.equipos_section_sensores_body_buttons>button>img {
  height: calc(5.88vh*0.6);
}

.equipos_section_sensores_body_buttons>a {
  text-decoration: none;
}

.equipos_section_sensores_body_buttons>a>button {
  width: calc(8.33vw*1.7);
  height: calc(5.88vh);
  background-color: #fff;
  color: #1E8C93;
  box-shadow: 0px 7.52941px 11.2941px rgba(235, 22, 44, 0.25);
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.equipos_section_sensores_body_buttons>a>button>img {
  height: calc(5.88vh*0.6);
}

.equipos_section_sensores_downside {
  height: calc(5.88vh*5);
  width: calc(8.33vw*9);
  margin-left: calc(8.33vw*1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 1;
}

.equipos_section_sensores_downside>img {
  height: calc(5.88vh*4);
  margin-top: 14vh;
  opacity: 0.40;
}

.equipos_section_sensores_downside>img:hover {
  margin-top: 7vh;
  opacity: 1;
  transition: all 1s;
}

.text_suport_equipos {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  position: fixed;
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  margin-top: -100px;
  background-color: #6B6B6B;
  color: #eee8f2;
  padding-inline: 1.5vw;
}

.text_suport_equipos:nth-child(2) {
  top: 75vh;
  left: 20vw;
}

.text_suport_equipos:nth-child(4) {
  top: 75vh;
  left: 45vw;
}

.text_suport_equipos:nth-child(6) {
  top: 75vh;
  left: 67vw;
}

.text_suport_equipos:nth-child(8) {
  top: 75vh;
  left: 90vw;
}

.equipos_section_sensores_downside>img:nth-child(1):hover+.text_suport_equipos {
  opacity: 1;
}

.equipos_section_sensores_downside>img:nth-child(3):hover+.text_suport_equipos {
  opacity: 1;
}

.equipos_section_sensores_downside>img:nth-child(5):hover+.text_suport_equipos {
  opacity: 1;
}

.equipos_section_sensores_downside>img:nth-child(7):hover+.text_suport_equipos {
  opacity: 1;
}

.textContainerBlue {
  font-size: 18px;
  font-weight: 700;
}

.imgFrameMaquinaria {
  margin: 250px 0px 0px 20px;
}

.containerTitleGps {
  margin-left: 150px;
}

.container_Section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.container_elements {
  width: 100%;
  max-height: 41vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.containerTitleGps2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

.containerelements2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 1/6;
}

.positionElements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 4/6;
  grid-row: 1/6;
}

.titleGps,
.titleGps2 {
  color: #ED2F4C;
  font-family: var(--typography);
  font-size: 50px;
}

.containerTitleGps2>span {
  border: 1px solid #ED2F4C;
  height: 15px;
  margin-right: 10px;
}

.imgFrameMaquinaria2 {
  display: block;
  max-width: 50%;
}

.sectionNew1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17, 1fr);
  /* background-image: url("../../assets/Solucionesm/S_maquinaria.png"); */
  background-color: #fff;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.sectionNew1--cont2 {
  grid-column: 3/5;
  grid-row: 13/16;
}

.fn {
  border-radius: 20px;
  background: #FFF;
  width: calc(8.33vw*6);
  height: calc(5.88vh*6);
  box-shadow: 0px 7px 10px 0px rgba(235, 22, 44, 0.50);
  grid-column: 5/12;
  grid-row: 7/13;
}

.container--cajaWhite--div2__sectionRequisitos {
  border-radius: 20px;
  background: #FFF;
  height: calc(5.88vh*4);
  box-shadow: 0px 7px 10px 0px rgba(235, 22, 44, 0.50);
  grid-column: 1/7;
  grid-row: 13/17;
}

.monitoreo_buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  grid-column: 2/4;
  grid-row: 7/11;
  position: relative;
  justify-content: flex-end;
  z-index: 1;
  margin-right: 45px;
}

.monitoreo_buttons>button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  justify-content: flex-start;
  align-items: center;
  width: calc(8.33vw * 2.5);
  height: calc(5.88vh * 0.8);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  margin-bottom: calc(5.88vh * 0.5);
  color: #6b6b6b;
  text-align: justify;
  font-size: 1.5rem;
}

.monitoreo_buttons label {
  color: #6B6B6B;
  font-family: "Bahnschrift";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.classspan {
  width: 6px;
  height: 6px;
  display: block;
  background-color: #fff;
  z-index: 5;
  position: relative;
  border-radius: 50%;
  top: 30%;
  left: 22%;
}

.displaynone {
  display: none;
}

.soluciones_button_check {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  box-shadow: 0px 4px 4px #030d4f;
}

.soluciones_button_dontcheck {
  height: 20px;
  width: 20px;
  background-color: #6b6b6b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  opacity: 0.2;
  box-shadow: 0px 4px 4px #030d4f;
}

.container-flechas {
  background-color: #ED2F4C;
  grid-row: 11/14;
  grid-column: 3/5;
}

.home_section1_column {
  background-color: #ED2F4C;
}

.container--right {
  grid-row: 5/16;
  grid-column: 8/12;
}

.content--container--right {
  width: calc(8.33vw*3.5);
  width: calc(8.33vw*3.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: calc(8.33vw*0.5);
}

.content--container--right h2 {
  margin: 0;
  color: #ED2F4C;
}

.content--container--right p {
  color: #6B6B6B;
  text-align: justify;
  font-family: "Bahnschrift";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.content--container--right .capitalize,
.capitalize1 {
  text-transform: capitalize;
}

.content--container--left p {
  margin: 0;
}

.capitalize1 {
  margin-top: 5px;
}

.fondo {
  grid-column: 1/13;
  grid-row: 1/18;
}

.img--fondo {
  height: 100vh;
}

.new--section2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17, 1fr);
  background-color: #fff;
  height: 100vh;
  width: 100%;
}

.container--subconts {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.collage {
  grid-column: 1/6;
  grid-row: 1/6;
  width: calc(8.33vw*6);
  height: calc(5.88vh*5);
}

.collage>img {
  width: 100%;
  height: calc(5.88vh*5);
  object-fit: cover;
}

.text {
  grid-column: 1/6;
  grid-row: 7/10;
  width: calc(8.33vw*6);
  height: calc(5.88vh*3);
  border-radius: 20px;
  background: #1E8C93;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.text>p {
  margin: 29px;
  color: #FFF;
  text-align: justify;
  font-family: "Bahnschrift";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.container--left {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column: 2/8;
  grid-row: 5/14;
}

.section--requisitos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17, 1fr);
  background-color: #fff;
  height: 100vh;
}

.div1--section--requisitos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column: 1/6;
  grid-row: 1/18;
}

.div2--section--requisitos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column: 6/13;
  grid-row: 1/18;
  max-height: 100vh;
}

.container--text--div1__sectionRequisitos {
  grid-column: 3/6;
  grid-row: 7/10;
  width: calc(8.33vw*3);
  height: calc(5.88vh*3);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.mixB {
  position: absolute;
  min-width: calc(8.33vw*3);
  min-height: calc(5.88vh*3);
  background-color: #ED2F4C;
  border-radius: 20px;
  z-index: 0;
  mix-blend-mode: multiply;
}

.tri {
  width: calc(8.33vw*1);
  height: calc(5.88vh*2);
  grid-column: 5/6;
  grid-row: 10/12;
}

.triangulo {
  width: calc(8.33vw*1);
  height: calc(5.88vh*3);
  position: relative;
  top: -48px;
}

.container--text--div1__sectionRequisitos>p {
  color: #FFF;
  text-align: justify;
  font-family: "Bahnschrift";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 25px;
  margin-right: 25px;
  z-index: 5;
}

.container--text--div1__sectionRequisitos span {
  font-weight: 700;
}

.container--title--div2__sectionRequisitos {
  grid-column: 1/5;
  grid-row: 5/6;
  width: calc(8.33vw*3.5);
}

.container--title--div2__sectionRequisitos h2 {
  color: #1E8C93;
  font-family: "Klik";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.container--logoRed {
  grid-column: 4/5;
  grid-row: 11/14;
}

.container--logoRed>img {
  width: calc(8.33vw*1);
  height: calc(5.88vh*3);
}

.img--ejecutivo {
  max-height: 100vh;
  grid-column: 1/7;
  grid-row: 1/18;
}

.container--text--div2__sectionRequisitos,
.container--title--div2__sectionRequisitos,
.container--cajaWhite--div2__sectionRequisitos {
  margin-left: calc(8.33vw*0.5);
}

.container--text--div2__sectionRequisitos {
  grid-column: 1/7;
  grid-row: 6/12;

}

.container--text--div2__sectionRequisitos p {
  color: #6B6B6B;
  text-align: justify;
  font-family: "Bahnschrift";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container--text--div2__sectionRequisitos span {
  font-weight: 700;
}

.containerimg--burbujas--flechaAbajo {
  position: absolute;
  bottom: 0;
  left: calc(8.33vw*2);
  z-index: 100;
}

.cont--red--flecha,
.cont--red--flecha__arriba {
  background-color: #ED2F4C;
  display: flex;
  justify-content: center;
  width: calc(8.33vw*1.94);
  height: calc(5.88vh*3);
}

.cont--red--flecha__arriba {
  rotate: 180deg;
}

.cont--red--flecha .img--burbujas--flechaAbajo,
.cont--red--flecha__arriba .img--burbujas--flechaAbajo {
  max-height: 100vh;
  width: 100%;
  height: calc(5.88vh*3);
  position: absolute;
}

.img--flecha--flechaAbajo {
  height: calc(5.88vh*1);
  margin-top: calc(5.88vh*1);
  z-index: 5;
  animation: flecha 0.6s infinite alternate linear;
}

.containerimg--burbujas--flechaAbajo2 {
  grid-row: 15/18;
  grid-column: 3/5;
}

.container--circle,
.container--circle1,
.div1--equipos_section1>a,
.container--subTitle--div2--equipos_section1,
.container--title--div1--equipos_section1,
.div1--equipos_section1>a {
  flex-direction: row-reverse;
}

.container--subTitle--div1--equipos_section1 {
  justify-content: space-between;
}

.container--FramePalabraCombustible>img {
  margin-right: calc(8.33vw*0.3);
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .new--section2 {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(34, 1fr);
  }

  .container--right {
    width: calc(8.33vw*9);
    grid-column: 3/12;
    grid-row: 7/21;
  }

  .content--container--right {
    grid-column: 3/12;
    grid-row: 7/21;
  }

  .container--left {
    grid-column: 3/12;
    grid-row: 22/32;
  }

  .containerimg--burbujas--flechaAbajo2 {
    grid-row: 21/35;
    grid-column: 2/4;
    display: flex;
    align-items: flex-end;
  }

  .content--container--right {
    width: calc(8.33vw*9);
    height: calc(2.94vh*7);
    margin-left: 0;
  }


  .content--container--right p {
    font-size: 12.6px;
  }

  .content--container--right h2 {
    font-size: 15px;
  }

  .collage {
    height: calc(2.94vh*4);
  }

  .collage>img {
    width: calc(8.33vw*9);
    height: auto;
  }

  .text {
    width: calc(8.33vw*9);
    height: calc(2.94vh*5);
    border-radius: 12px;
    z-index: 10;
  }

  .text>p {
    font-size: 12px;
    margin: 17px;
  }

  /*section requisitos*/
  .section--requisitos {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(34, 1fr);
  }

  .div1--section--requisitos {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-row: 20/35;
    grid-column: 1/13;
  }

  .div2--section--requisitos {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row: 7/35;
    grid-column: 1/13;
  }

  .container--title--div2__sectionRequisitos {
    grid-column: 3/11;
    grid-row: 1/2;
    width: calc(8.33vw*9);
    display: flex;
    justify-content: center;
  }

  .container--title--div2__sectionRequisitos>h2 {
    font-size: 23px;
  }

  .container--text--div2__sectionRequisitos {
    grid-column: 1/13;
    grid-row: 3/13;
  }

  .container--text--div2__sectionRequisitos>p {
    font-size: 15px;
  }

  .container--cajaWhite--div2__sectionRequisitos {
    grid-column: 1/13;
    grid-row: 20/34;
  }

  .container--text--div1__sectionRequisitos {
    grid-column: 8/12;
    grid-row: 29/34;
  }

  .img--ejecutivo {
    display: none;
  }

  /*section requisitos*/
}


@media only screen and (max-width: 600px) {
  .equipos_section2_column {
    padding-top: calc(5.88vh * 5);
  }

  .equipos_section2_column>h1 {
    font-size: 4vh;
    margin-top: calc(5.88vh * 0.1);
    font-weight: 800;
  }

  .equipos_section2_label {
    margin-top: calc(-5.88vh * 0.3);
    height: calc(5.88vh * 0.8);
    width: calc(8.33vw * 7);
  }

  .equipos_section2_label>h2 {
    font-size: 2vh;
  }

  .equipos_section2_circleIcon>img {
    height: calc(5.88vh * 0.5);
  }

  .equipos_section2_circleIcon {
    margin-right: calc(8.33vw*3);
  }

  .equipos_section1_bg {
    background-size: 196vw 35vh;
    background-repeat: no-repeat;
    background-position-y: 65vh;
  }

  .equipos_section2_start>h1 {
    font-size: 2vh;

    text-shadow: 0px 0 white, 0 0px white, 0px 0 white, 0 0px white;
  }

  .equipos_section2_start_buttons {
    padding-left: calc(8.33vw);
    height: calc(5.88vh * 0.6);
  }

  .equipos_section2_start_buttons>a {
    font-size: 0.7vh;
    width: calc(8.33vw * 3);
    height: calc(5.88vh * 0.5);
    border-radius: 10%;
  }

  .equipos_section2_start_column>p {
    font-size: 1vh;
  }

  .equipos_section2 {
    background-position-y: 5vh;
    background-position-x: 10vw;
    background-size: 40vh;
    height: 30vh;
  }

  .equipos_section3 {
    height: 30vh;
    background-size: 30vh;
    background-position-x: center;
    background-position-y: 0vh;
  }

  .equipos_section4 {
    height: 30vh;
  }

  .equipos_section3_end>h1 {
    font-size: 2vh;
    text-shadow: 0px 0 white, 0 0px white, 0px 0 white, 0 0px white;
  }

  .equipos_section3_end_column {
    font-size: 1vh;
  }

  .equipos_section4 {
    background-size: 20vh;
    background-position-x: 40vw;
    background-position-y: 5vh;
  }

  .equipos_section2_start_column {
    opacity: 0;
  }

  .equipos_section3_end_column {
    opacity: 0;
  }

  .equipos_section1_sensor {
    flex-direction: column;
  }

  .equipos_section1_sensor>img {
    height: calc(5.88vh*3);
    margin-top: calc(5.88vh);
  }

  .pedestales_sensor {
    width: calc(8.33vw*6);
  }

  .equipos_section1_sensor_text {
    margin-top: calc(5.88vh*5);
    display: none;
  }

  .equipos_section2_end_table {
    display: none;
    width: calc(8.33vw*3);
    margin-top: calc(5.88vh);
    isolation: isolate;
    z-index: 3;
  }

  .equipos_section_sensores_body_buttons {
    display: none;
  }

  .equipos_section_sensores_header {
    flex-direction: column;
  }

  .equipos_section_sensores_buttons {
    flex-direction: row;
    justify-content: space-around;
  }

  .equipos_section_sensores_buttons>button {
    width: calc(8.33vw*4.7);
    height: calc(5.88vh*2.5);
  }

  .equipos_section_sensores_buttons>button>img {
    height: calc(5.88vh*1.5);
  }

  .equipos_section_sensores_title {
    justify-content: center
  }

  .equipos_section_sensores_title>img {
    width: auto;
    height: calc(5.88vh*3);
  }

  .equipos_section_sensores_title>h3 {
    font-size: 15px;
  }

  .equipos_section_sensores_body>p {
    margin: 25px;
    font-size: 15px;
    width: auto;
  }

  .equipos_section_sensores_downside>img {
    height: calc(5.88vh*2);
    margin-top: calc(5.88vh*4);
  }

  .imgSuntech {
    width: 7vh;
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .imgFmc920 {
    width: 14vh;
    grid-column: 4/7;
    grid-row: 1/3;
  }

  .imgFrameMaquinaria2 {
    display: none;
  }

  .containerTitleGps2 {
    display: none;
  }

  .equipos_section2_column {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: calc(5.88vh * 6);
    align-items: center;
    justify-content: center;
  }

  .home_section1_column {
    /*display: none;*/
  }

  .textContainerEquipos {
    font-size: 12px;
  }

  .home_section2_label {
    margin: 20px;
  }

  .home_section2_label2 {
    height: 37px;
    width: 200px;
  }

  .home_section2_label2>h2 {
    font-size: 8px;
  }
}