.equipos_section1{
    width: 100%;
    height: 100vh;
    background: url("../../assets/fondoEquipos.svg");
    background-size: 100vw;
    background-position: bottom 50px ;
    opacity: 1 !important;
}
.equipos_section1_footer{
    position: absolute;
    bottom: 0vh;
    width: 100%;
    height: calc(5.88vh*1);
    background-color: red;
}
.equipos_section2_column{
    display: flex;
    flex-direction: column;
    margin-left: calc(8.33vw*2);
    margin-right: calc(8.33vw);
    align-items: center;

}
.equipos_section2_column>h1{
    font-size: calc(8.33vw*0.5);
    font-family: 'Kiona';
    font-style: normal;
    font-weight: 400;
    color: #6B6B6B;
    margin-top: calc(5.88vh);
}
.equipos_section2_label{
    clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
    width: calc(8.33vw*4.5);
    height: calc(5.88vh*1.5);
    background: #EEE8F2;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
    margin-top: -7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equipos_section2_label>h2{
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 700;
    font-size: 6vh;
    color: #1E8C93;
}
.equipos_section2_circleIcon{
    margin-top: calc(5.88vh*3);
    align-self: flex-end;
    margin-right: calc(8.33vw*2.2);
}