@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root,
html,
body,
*,
*:before,
*:after {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

/*rojo*/
.rojo {
  color: #e30521;
  fill: #e30521;
}

.fondo-rojo {
  background-color: #e30521;
}

.hover-rojo:hover {
  color: #e30521;
  fill: #e30521;
}

.hover-rojo:hover * {
  color: #e30521;
  fill: #e30521;
}

/*azul*/
.azul {
  color: #1c2f5c;
  fill: #1c2f5c;
}

.fondo-azul {
  background-color: #1c2f5c;
}

.hover-azul:hover {
  color: #1c2f5c;
  fill: #1c2f5c;
}

.hover-azul:hover * {
  color: #1c2f5c;
  fill: #1c2f5c;
}

/*cyan*/
.cyan {
  color: #10c4ff;
  fill: #10c4ff;
}

.fondo-cyan {
  background-color: #10c4ff;
}

.hover-cyan:hover {
  color: #10c4ff;
  fill: #10c4ff;
}

.hover-cyan:hover * {
  color: #10c4ff;
  fill: #10c4ff;
}

/*gris-oscuro*/
.gris-oscuro {
  color: #2d2d2d;
  fill: #2d2d2d;
}

.fondo-gris-oscuro {
  background-color: #2d2d2d;
}

.hover-gris-oscuro:hover {
  color: #2d2d2d;
  fill: #2d2d2d;
}

/*gris*/
.gris {
  color: #555555;
  fill: #555555;
}

.fondo-gris {
  background-color: #555555;
}

/*gris2*/
.gris2 {
  color: #7a7a7a;
  fill: #7a7a7a;
}

.fondo-gris2 {
  background-color: #7a7a7a;
}

/*gris3*/
.gris3 {
  color: #bbbbbb;
  fill: #bbbbbb;
}

.fondo-gris3 {
  background-color: #bbbbbb;
}

/*gris-claro*/
.gris-claro {
  color: #f4f4f4;
  fill: #f4f4f4;
}

.fondo-gris-claro {
  background-color: #f4f4f4;
}

/*blanco*/
.blanco {
  color: #ffffff;
  fill: #ffffff;
}

.fondo-blanco {
  background-color: #ffffff;
}

/*blanco95*/
.blanco95 {
  color: #ffffff95;
  fill: #ffffff95;
}

.fondo-blanco95 {
  background-color: #ffffff95;
}

/*blanco90*/
.blanco90 {
  color: #ffffff90;
  fill: #ffffff90;
}

.fondo-blanco90 {
  background-color: #ffffff90;
}

/*blanco80*/
.blanco80 {
  color: #ffffff80;
  fill: #ffffff80;
}

.fondo-blanco80 {
  background-color: #ffffff80;
}

/*blanco60*/
.blanco60 {
  color: #ffffff60;
  fill: #ffffff60;
}

.fondo-blanco60 {
  background-color: #ffffff60;
}

/*blanco40*/
.blanco40 {
  color: #ffffff40;
  fill: #ffffff40;
}

.fondo-blanco40 {
  background-color: #ffffff40;
}

/*blanco20*/
.blanco20 {
  color: #ffffff20;
  fill: #ffffff20;
}

.fondo-blanco20 {
  background-color: #ffffff20;
}

/*blanco0*/
.blanco0 {
  color: #ffffff00;
  fill: #ffffff00;
}

.fondo-blanco0 {
  background-color: #ffffff00;
}

/*negro*/
.negro {
  color: #000000;
  fill: #000000;
}

.fondo-negro {
  background-color: #000000;
}

.raleway {
  font-family: "Raleway";
}

.work-sans {
  font-family: "Work Sans";
}

h1 {
  font: 3.5rem "Raleway";
}

h2 {
  font: 2.5rem "Raleway";
}

h3 {
  font: 1.5rem "Work Sans";
}

h4 {
  font: 2rem "Work Sans";
}

h5 {
  font: 1.5rem "Work Sans";
}

h6 {
  font: 1rem "Work Sans";
}

h1,
h2,
h3 {
  color: #e30521;
  font-weight: 800;
}

h4,
h5,
h6 {
  color: #2d2d2d;
  font-weight: 500;
}

p {
  line-height: 1.4em;
}

span,
strong {
  font-size: 1em;
  font-weight: 700;
  color: currentColor;
}

ul {
  display: -ms-grid;
  display: grid;
  list-style-position: inside;
}

ul.dark li {
  color: #ffffff60;
  border-color: #ffffff20;
}

ul.dark li:hover, ul.dark li.hover {
  color: #ffffff !important;
  border-color: #ffffff80 !important;
}

ul.lista-izq {
  justify-items: end;
  left: 0;
  text-align: right;
  list-style: none;
}

ul.lista-izq li {
  border-left: inherit;
  padding-left: inherit;
  border-right: 2px solid;
  padding-right: 2em;
  border-color: #f4f4f4;
}

ul.lista-izq li:hover {
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

ul.lista-izq li:nth-child(even) {
  margin-right: 10em;
}

ul.lista-der {
  justify-items: start;
  right: 0;
  text-align: left;
  list-style: none;
}

ul.lista-der li:nth-child(even) {
  margin-left: 10em;
}

li,
dd {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  color: #bbbbbb;
  padding-left: 1rem;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-left: 2px solid;
  border-color: #f4f4f4;
  list-style-type: none;
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

li:hover, li.hover,
dd:hover,
dd.hover {
  color: #2d2d2d !important;
  border-color: #2d2d2d !important;
  font-weight: 600;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
}

li:hover strong, li.hover strong,
dd:hover strong,
dd.hover strong {
  color: #10c4ff;
}

li strong,
dd strong {
  color: #7a7a7a;
}

button,
a,
input {
  /* THIS DISABLES THE PRESET OPTIONS */
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  font: inherit;
  font-size: 100%;
  background-color: inherit;
  background-image: inherit;
  border-style: inherit;
  outline: inherit;
}

button,
a,
input[type="submit"],
input[type="button"],
input[type="file"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #bbbbbb;
  font-family: 'Raleway';
  font-weight: 600;
  padding: 0.5em 0;
  position: relative;
  display: inline-block;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  text-align: left;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  border-bottom: 0.15em solid;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
}

button *,
a *,
input[type="submit"] *,
input[type="button"] *,
input[type="file"] * {
  color: #2d2d2d;
}

button:hover,
a:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="file"]:hover {
  padding-left: 1em;
}

button strong:hover, button strong.hover,
a strong:hover,
a strong.hover,
input[type="submit"] strong:hover,
input[type="submit"] strong.hover,
input[type="button"] strong:hover,
input[type="button"] strong.hover,
input[type="file"] strong:hover,
input[type="file"] strong.hover {
  font-weight: 800;
  color: #e30521;
}

button.dark,
a.dark,
input[type="submit"].dark,
input[type="button"].dark,
input[type="file"].dark {
  color: #ffffff90;
}

button.dark *,
a.dark *,
input[type="submit"].dark *,
input[type="button"].dark *,
input[type="file"].dark * {
  color: #ffffff90;
}

button.dark:hover, button.dark.hover,
button.dark strong:hover,
a.dark:hover,
a.dark.hover,
a.dark strong:hover,
input[type="submit"].dark:hover,
input[type="submit"].dark.hover,
input[type="submit"].dark strong:hover,
input[type="button"].dark:hover,
input[type="button"].dark.hover,
input[type="button"].dark strong:hover,
input[type="file"].dark:hover,
input[type="file"].dark.hover,
input[type="file"].dark strong:hover {
  color: #ffffff;
}

button.sin-borde,
a.sin-borde,
input[type="submit"].sin-borde,
input[type="button"].sin-borde,
input[type="file"].sin-borde {
  padding: 0;
  border: none;
}

form {
  width: 100%;
}

input[type="text"],
input[type="textarea"]
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="list"],
input[type="search"],
input[type="password"],
select {
  padding: 1em 0;
  color: #10c4ff;
  border-bottom: 0.15em solid #ffffff20;
}

input[type="text"]::-webkit-input-placeholder,
input[type="textarea"]
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="list"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #ffffff40;
}

input[type="text"]:-ms-input-placeholder,
input[type="textarea"]
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="list"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #ffffff40;
}

input[type="text"]::-ms-input-placeholder,
input[type="textarea"]
input[type="tel"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
input[type="date"]::-ms-input-placeholder,
input[type="datetime"]::-ms-input-placeholder,
input[type="datetime-local"]::-ms-input-placeholder,
input[type="list"]::-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: #ffffff40;
}

input[type="text"]::placeholder,
input[type="textarea"]
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="list"]::placeholder,
input[type="search"]::placeholder,
input[type="password"]::placeholder,
select::placeholder {
  color: #ffffff40;
}

.sol-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.sol-icon image {
  width: 100%;
  height: 100%;
}

:root,
html,
body,
*,
*:before,
*:after {
  /* THIS DISABLE THE INHERIT STYLES */
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  /* THIS ARE THE BRAND CUSTOM STYLES */
  font-family: "Work Sans", "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  line-height: normal;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.flex-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.flex-gallery * {
  text-align: center;
}

.flex-gallery .sol-icon,
.flex-gallery .app-icon {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.flex-gallery a:hover .sol-icon,
.flex-gallery a:hover .app-icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.big-div {
  position: relative;
  width: 100vw;
  z-index: 3;
}

.card {
  z-index: 2;
  background-color: #ffffff;
  padding: 4em;
  -webkit-box-shadow: 0 0 10px #bbbbbb;
          box-shadow: 0 0 10px #bbbbbb;
}

.title-div {
  border-bottom: 4px solid #e30521;
}

.title-div :last-child {
  margin-bottom: 1em;
}

.main-title-div {
  text-align: center;
  gap: 1em;
}

.big-img-div {
  text-align: center;
}

.big-img-div img {
  width: 100%;
}

.app-gallery-div {
  background-color: #f4f4f4;
  padding: 10%;
  gap: 4rem;
}

.app-div {
  padding: 8% 10%;
  gap: 10%;
}

.app-div img {
  width: 50%;
}

.app-div img.vertical {
  width: auto;
  max-height: 75vh;
  margin: auto;
}

.app-div h4 {
  margin-bottom: 0.5em;
}

.app-div .app-info-div {
  gap: 2rem;
}

.app-div .app-info-div p {
  margin-top: 1rem;
}

.data-div {
  padding: 5% 20%;
  gap: 4rem;
  background-color: #f4f4f4;
}

.data-div .data-info-div * {
  width: 45%;
}

.img-items-div {
  padding: 8% 10%;
  row-gap: 3rem;
}

.img-items-div .img-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50% auto;
      grid-template-columns: auto 50% auto;
  -webkit-column-gap: 2.5%;
          column-gap: 2.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-items-div .img-items li {
  width: 215px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.img-items-div .img-items li h3 {
  color: #7a7a7a;
  line-height: 1;
  padding-bottom: 0.2em;
}

.img-items-div .img-items li:nth-child(even) h3 {
  color: #bbbbbb;
}

.img-items-div .img-items li:hover, .img-items-div .img-items li.hover {
  color: #10c4ff !important;
  border-color: #10c4ff !important;
}

.img-items-div .img-items li:hover h3, .img-items-div .img-items li.hover h3 {
  color: #1c2f5c;
}

.img-items-div .img-items .main-title-div {
  padding: 10% 15% 0;
}

.img-items-div .img-items .main-title-div h3 {
  color: #2d2d2d;
  line-height: 1;
  padding-bottom: 0.5em;
}

.gallery-list {
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.btns-div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
}

.sombra10 {
  -webkit-box-shadow: 0 0 10px #bbbbbb;
          box-shadow: 0 0 10px #bbbbbb;
}

.sombra20 {
  -webkit-box-shadow: 0 0 20px #bbbbbb;
          box-shadow: 0 0 20px #bbbbbb;
}

.sombra40 {
  -webkit-box-shadow: 0 0 40px #bbbbbb;
          box-shadow: 0 0 40px #bbbbbb;
}

header {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: #ffffff;
  z-index: 4;
}

header:hover, header.hover {
  -webkit-box-shadow: 0 0 20px #bbbbbb;
          box-shadow: 0 0 20px #bbbbbb;
}

header .navbar {
  width: 100vw;
  height: 100%;
  padding: 24px 40px;
}

header .navbar img {
  height: 40px;
}

header .navbar:first-child {
  padding-left: 40px;
}

header .nav-links {
  width: 60%;
  height: 100%;
}

header .nav-contact {
  padding: 8px 40px;
}

header .nav-contact p {
  font-family: 'Raleway';
  font-weight: 600;
  color: #ffffff90;
}

html,
body {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff00;
  overflow-x: hidden;
}

.main {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  z-index: -1;
}

.banner-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  overflow: hidden;
  padding: 16% 20% 12%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-div .img-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/transport-bg.jpg) no-repeat;
  background-size: cover;
  mix-blend-mode: luminosity;
}

.banner-div .img-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff90), color-stop(80%, #ffffff));
  background: linear-gradient(to top, #ffffff90, #ffffff 80%);
}

.banner-div .text-div {
  z-index: 2;
  text-align: center;
}

.banner-div .text-div h2 {
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ffffff;
}

.seguimiento-div {
  padding: 8% 10%;
  gap: 5rem;
}

.seguimiento-div .main-title-div {
  padding: 0 10%;
}

.soluciones-div,
.aplicaciones-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soluciones-div .main-title-div,
.aplicaciones-div .main-title-div {
  width: 45%;
}

.soluciones-div .main-title-div h1,
.aplicaciones-div .main-title-div h1 {
  color: #1c2f5c;
}

.soluciones-gal,
.aplicaciones-gal {
  row-gap: 40px;
}

.soluciones-gal a,
.aplicaciones-gal a {
  width: 140px;
}

.soluciones-gal a p,
.aplicaciones-gal a p {
  width: 100%;
  margin-top: 1em;
  color: #bbbbbb;
}

.soluciones-gal a:hover .sol-icon *,
.aplicaciones-gal a:hover .sol-icon * {
  fill: #1c2f5c;
}

.soluciones-gal a:hover p,
.aplicaciones-gal a:hover p {
  color: #10c4ff;
}

.soluciones-gal .app-icon,
.aplicaciones-gal .app-icon {
  height: 100px;
}

.soluciones-gal .sol-icon,
.aplicaciones-gal .sol-icon {
  height: 100px;
}

.soluciones-gal .sol-icon *,
.aplicaciones-gal .sol-icon * {
  fill: #7a7a7a;
}

.mas-caracteristicas-div {
  padding: 5% 20%;
  row-gap: 4rem;
  background-color: #7a7a7a;
}

.mas-caracteristicas-div h5 {
  text-align: center;
}

.mas-caracteristicas-div li {
  font-size: 16px;
}

footer {
  position: relative;
  width: 100vw;
  height: 85vh;
  background-color: #f4f4f4;
  z-index: 4;
}

footer a {
  color: #ffffff40;
}

footer a:hover {
  color: #ffffff;
}

footer a h3 {
  color: #ffffff;
  margin-bottom: 1rem;
}

footer .footer-float {
  position: absolute;
  width: 70vw;
  padding: 4%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  row-gap: 2rem;
  background-color: #2d2d2d;
  -webkit-box-shadow: 0 0 20px #7a7a7a;
          box-shadow: 0 0 20px #7a7a7a;
}

footer .footer-float:hover, footer .footer-float.hover {
  -webkit-box-shadow: 0 0 40px #555555;
          box-shadow: 0 0 40px #555555;
}

footer .footer-float .flex-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-float .flex-column {
  row-gap: 1rem;
}

footer form.flex-column {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .links-form-div {
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

footer .copyright-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .map-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  -webkit-box-shadow: 0 0 20px #bbbbbb;
          box-shadow: 0 0 20px #bbbbbb;
}

@media screen and (max-width: 1400px) {
  :root,
  html,
  body,
  *,
  *:before,
  *:after {
    /* THIS ARE THE BRAND CUSTOM STYLES */
    font-size: 14px;
  }
  .img-items-div {
    padding: 8% 4%;
  }
  .img-items-div .img-items {
    -ms-grid-columns: auto 35% auto;
        grid-template-columns: auto 35% auto;
  }
  .app-div {
    padding: 8%;
  }
  .app-gallery-div {
    padding: 8% 2%;
  }
  .data-div,
  .mas-caracteristicas-div {
    padding: 6% 12%;
  }
  .img-items-div {
    padding: 8% 4%;
  }
  .desarrollo-div {
    padding: 5% 20%;
  }
  .desarrollo-div .data-info-div h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .desarrollo-div .data-info-div p {
    width: 60%;
  }
  footer {
    height: 120vh;
  }
  footer .footer-float {
    width: 80vw;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  header .nav-links {
    width: 65%;
  }
  .banner-div {
    padding: 24% 20% 16%;
  }
  .img-items-div .img-items {
    -ms-grid-columns: auto 45% auto;
        grid-template-columns: auto 45% auto;
    -webkit-column-gap: 1.4%;
            column-gap: 1.4%;
  }
  .img-items-div .img-items li {
    width: 200px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .img-items-div .img-items li h3 {
    padding-bottom: 0.1em;
  }
  .img-items-div .img-items .main-title-div {
    padding: 0;
  }
  .img-items-div .img-items .main-title-div h3 {
    padding-bottom: 0;
    padding-top: 2em;
  }
  .lista-izq li,
  .lista-der li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mas-caracteristicas-div {
    padding: 8% 4%;
  }
  .soluciones-div .main-title-div,
  .aplicaciones-div .main-title-div {
    width: 60%;
  }
  .app-div {
    gap: 4%;
  }
  .app-div img {
    min-width: 50vw;
  }
  .app-gallery-div {
    padding: 8%;
  }
  .app-gallery-div .flex-gallery {
    -webkit-column-gap: 4%;
            column-gap: 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .soluciones-div .main-title-div,
  .aplicaciones-div .main-title-div {
    width: 88%;
  }
  footer {
    height: 90vh;
  }
}

@media screen and (max-device-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  header .nav-links {
    width: 65%;
  }
  .banner-div {
    padding: 20% 8% 10%;
  }
  .app-div {
    padding: 8% 4%;
  }
  .app-div img,
  .app-div img.vertical {
    width: 40vw;
    min-width: inherit;
  }
  .data-div {
    padding: 8%;
  }
  .data-div .data-info-div * {
    width: 50%;
  }
  .img-items-div .img-items {
    -ms-grid-columns: auto 40% auto;
        grid-template-columns: auto 40% auto;
  }
  .app-gallery-div {
    padding: 8% 4%;
  }
  .mas-caracteristicas-div {
    padding: 8% 4%;
  }
  footer {
    height: 200vh;
  }
  footer .links-form-div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4rem;
  }
  footer .links-form-div div {
    width: 46%;
  }
  footer .links-form-div div:last-child,
  footer .links-form-div a {
    width: 100%;
  }
}

@media screen and (max-device-width: 800px) and (orientation: portrait) {
  .banner-div {
    padding: 24% 16% 16%;
  }
  .app-div {
    padding: 10% 14%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4rem;
  }
  .app-div img,
  .app-div img.vertical {
    width: 60vw;
  }
  .desarrollo-div {
    padding: 8% 14%;
  }
  .app-gallery-div {
    padding: 14%;
  }
  .app-gallery-div .flex-gallery {
    -webkit-column-gap: 14%;
            column-gap: 14%;
  }
  .mas-caracteristicas-div {
    padding: 10%;
  }
  .mas-caracteristicas-div ul {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .soluciones-div .main-title-div,
  .aplicaciones-div .main-title-div {
    width: 92%;
  }
  footer {
    height: 85vh;
  }
}
/*# sourceMappingURL=gps-control-styles.css.map */