:root,
html,
body,
*,
*:before,
*:after {
  transition: 500ms ease;
}

/// COLORS ///

$rojo: #e30521; /*rojo*/
.rojo {
  color: $rojo;
  fill: $rojo;
}
.fondo-rojo {
  background-color: $rojo;
}
.hover-rojo:hover {
  color: $rojo;
  fill: $rojo;

  *{
    color: $rojo;
    fill: $rojo;
  }
}

$azul: #1c2f5c; /*azul*/
.azul {
  color: $azul;
  fill: $azul;
}
.fondo-azul {
  background-color: $azul;
}
.hover-azul:hover {
  color: $azul;
  fill: $azul;

  *{
    color: $azul;
    fill: $azul;
  }
}

$cyan: #10c4ff; /*cyan*/
.cyan {
  color: $cyan;
  fill: $cyan;
}
.fondo-cyan {
  background-color: $cyan;
}
.hover-cyan:hover {
  color: $cyan;
  fill: $cyan;

  *{
    color: $cyan;
    fill: $cyan;
  }
}

$gris-oscuro: #2d2d2d; /*gris-oscuro*/
.gris-oscuro {
  color: $gris-oscuro;
  fill: $gris-oscuro;
}
.fondo-gris-oscuro {
  background-color: $gris-oscuro;
}
.hover-gris-oscuro:hover {
  color: $gris-oscuro;
  fill: $gris-oscuro;
}

$gris: #555555; /*gris*/
.gris {
  color: $gris;
  fill: $gris;
}
.fondo-gris {
  background-color: $gris;
}

$gris2: #7a7a7a; /*gris2*/
.gris2 {
  color: $gris2;
  fill: $gris2;
}
.fondo-gris2 {
  background-color: $gris2;
}

$gris3: #bbbbbb; /*gris3*/
.gris3 {
  color: $gris3;
  fill: $gris3;
}
.fondo-gris3 {
  background-color: $gris3;
}

$gris-claro: #f4f4f4; /*gris-claro*/
.gris-claro {
  color: $gris-claro;
  fill: $gris-claro;
}
.fondo-gris-claro {
  background-color: $gris-claro;
}

$blanco: #ffffff; /*blanco*/
.blanco {
  color: $blanco;
  fill: $blanco;
}
.fondo-blanco {
  background-color: $blanco;
}

$blanco95: #ffffff95; /*blanco95*/
.blanco95 {
  color: $blanco95;
  fill: $blanco95;
}
.fondo-blanco95 {
  background-color: $blanco95;
}

$blanco90: #ffffff90; /*blanco90*/
.blanco90 {
  color: $blanco90;
  fill: $blanco90;
}
.fondo-blanco90 {
  background-color: $blanco90;
}

$blanco80: #ffffff80; /*blanco80*/
.blanco80 {
  color: $blanco80;
  fill: $blanco80;
}
.fondo-blanco80 {
  background-color: $blanco80;
}

$blanco60: #ffffff60; /*blanco60*/
.blanco60 {
  color: $blanco60;
  fill: $blanco60;
}
.fondo-blanco60 {
  background-color: $blanco60;
}

$blanco40: #ffffff40; /*blanco40*/
.blanco40 {
  color: $blanco40;
  fill: $blanco40;
}
.fondo-blanco40 {
  background-color: $blanco40;
}

$blanco20: #ffffff20; /*blanco20*/
.blanco20 {
  color: $blanco20;
  fill: $blanco20;
}
.fondo-blanco20 {
  background-color: $blanco20;
}

$blanco0: #ffffff00; /*blanco0*/
.blanco0 {
  color: $blanco0;
  fill: $blanco0;
}
.fondo-blanco0 {
  background-color: $blanco0;
}

$negro: #000000; /*negro*/
.negro {
  color: $negro;
  fill: $negro;
}
.fondo-negro {
  background-color: $negro;
}

/// FONTS ///

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.raleway {
  font-family: "Raleway";
}

.work-sans {
  font-family: "Work Sans";
}

h1 {
  font: 3.5rem "Raleway";
}

h2 {
  font: 2.5rem "Raleway";
}

h3 {
  font: 1.5rem "Work Sans";
}

h4 {
  font: 2rem "Work Sans";
}

h5 {
  font: 1.5rem "Work Sans";
}

h6 {
  font: 1rem "Work Sans";
}

h1,
h2,
h3 {
  color: $rojo;
  font-weight: 800;
  line-height: 1.1;
}

h4,
h5,
h6 {
  color: $gris-oscuro;
  font-weight: 500;
  line-height: 1.1;
}

p{
  line-height: 1.4em;
}

span,
strong {
  font-size: 1em;
  font-weight: 700;
  color: currentColor;
}

ul {
  display: grid;
  list-style-position: inside;

  &.dark{

    li {
      color: $blanco60;
      border-color: $blanco20;

      &:hover,
      &.hover{
        color: $blanco !important;
        border-color: $blanco80 !important;
      }
    }
  }

  &.lista-izq{
    justify-items: end;
    left: 0;
    text-align: right;
    list-style: none;

    li {
      border-left: inherit;
      padding-left: inherit;
      border-right: 2px solid;
      padding-right: 2em;
      border-color: $gris-claro;
      
      &:hover{
        transform: translateX(-2rem);
      }
      
      &:nth-child(even){
        margin-right: 10em;
      }
    }
  }
  
  &.lista-der{
    justify-items: start;
    right: 0;
    text-align: left;
    list-style: none;
    
    li {

      &:nth-child(even){
      margin-left: 10em;
      }
    }
  }
}

li,
dd{
  height: fit-content;
  font-size: 14px;
  color: $gris3;
  padding-left: 1rem;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-left: 2px solid;
  border-color: $gris-claro;
  list-style-type: none;
  transform: translateX(0em);

  &:hover,
  &.hover{
    color: $gris-oscuro !important;
    border-color: $gris-oscuro !important;
    font-weight: 600;
    transform: translateX(2em);

    strong{
      color: $cyan;
    }

  }

  strong{
    color: $gris2;
  }
}

/// LINKS, INPUTS AND BUTTONS STYLES ///

button,
a,
input {
  /* THIS DISABLES THE PRESET OPTIONS */
  appearance: inherit;
  font: inherit;
  font-size: 100%;
  background-color: inherit;
  background-image: inherit;
  border-style: inherit;
  outline: inherit;
}

button,
a,
input[type="submit"],
input[type="button"],
input[type="file"]{
  width: fit-content;
  color: $gris3;
  font-family: 'Raleway';
  font-weight: 600;
  padding: 0.5em 0;
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  text-align: left;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  border-bottom: 0.15em solid;
  touch-action: manipulation;
  cursor: pointer;

  *{
    color: $gris-oscuro;
  }

  &:hover{
    padding-left: 1em;
  }

  strong {
    &:hover,
    &.hover {
      font-weight: 800;
      color: $rojo;
    }
  }

  &.dark {
    color: $blanco90;

    *{
      color: $blanco90;
    }

    &:hover,
    &.hover,
    strong:hover {
      color: $blanco;
    }
  }

  &.sin-borde {
    padding: 0;
    border: none;
  }
}

form{
  width: 100%;
}

input[type="text"],
input[type="textarea"]
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="list"],
input[type="search"],
input[type="password"],
select{
  padding: 1em 0;
  color: $cyan;
  border-bottom: 0.15em solid $blanco20;

  &::placeholder{
    color: $blanco40;
  }
}

/// IMAGES STYLES ///

.sol-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  image{
    width: 100%;
    height: 100%;
  }
}

/// HEADER ///

header {
  position: fixed;
  width: 100vw;
  height: auto;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: $blanco;
  z-index: 4;

  &:hover,
  &.hover {
    box-shadow: 0 0 20px $gris3;
  }

  .navbar {
    width: 100vw;
    height: auto;
    padding: 24px 40px;

    &:first-child {
      padding-left: 40px;
    }
  }

  .logo-gps{
    height: 40px;
  }

  .nav-links {
    width: 60%;
    height: 100%;

    #menu-icon{
      display: none;
    }
  }

  .nav-contact {
    padding: 8px 40px;

    p{
      font-family: 'Raleway';
      font-weight: 600;
      color: $blanco90;
    }
  }
}

/// GENERAL STYLES ///

:root,
html,
body,
*,
*:before,
*:after {
  /* THIS DISABLE THE INHERIT STYLES */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  /* THIS ARE THE BRAND CUSTOM STYLES */
  font-family: "Work Sans", "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $gris2;
  line-height: normal;
}

  
.app-div,
.data-div,
.app-gallery-div,
.mas-caracteristicas-div,
.img-items-div{
  padding: 8% 10%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flex-gallery{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  *{
    text-align: center;
  }

  .sol-icon,
  .app-icon{
    transform: scale(0.8);
  }

  a:hover{
    .sol-icon,
    .app-icon{
      transform: scale(1);
    }
  }
}

.big-div {
  position: relative;
  width: 100vw;
  z-index: 3;
}

.card {
  z-index: 2;
  background-color: $blanco;
  padding: 4em;
  box-shadow: 0 0 10px $gris3;
}

.title-div {
  border-bottom: 4px solid $rojo;

  :last-child{
    margin-bottom: 1em;
  }
}

.main-title-div{
  text-align: center;
  gap: 1em;

  h1{
    margin-bottom: 0.2em;
  }
}

.big-img-div{
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.app-gallery-div{
  background-color: $gris-claro;
  gap: 4rem;
}

.app-div{
  gap: 10%;

  img {
    width: 50%;
    height: auto;
  }

  h4{
    margin-bottom: 0.5em;
  }

  .app-info-div{
    gap: 2rem;

    p{
      margin-top: 1rem;
    }
  }
}

.data-div{
  gap: 4rem;
  background-color: $gris-claro;

  .data-info-div{
    
    *{
      width: 45%;
    }
  }
}

.img-items-div{
  row-gap: 3rem;
  
  .img-items{
    display: grid;
    grid-template-columns: auto 50% auto;
    column-gap: 2.5%;
    justify-content: space-between;
    align-items: center;

    li{
      width: 215px;
      margin-top: 1em;
      margin-bottom: 1em;
      
      h3{
        color: $gris2;
        line-height: 1;
        margin-bottom: 0.2em;
        
      }
    
      &:nth-child(even){
        h3{
          color: $gris3;
        }
      }
    
      &:hover,
      &.hover{
        color: $cyan !important;
        border-color: $cyan !important;

        h3{
          color: $azul;
        }
      }
    }

    .main-title-div{
      padding: 10% 15% 0;
      
      h3{
        color: $gris-oscuro;
        line-height: 1;
        margin-bottom: 0.5em;
      }
    }
  }
}

.gallery-list{
  grid-template-columns: auto auto auto;
}

.btns-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
}

.sombra10{
  box-shadow: 0 0 10px $gris3;
}

.sombra20{
  box-shadow: 0 0 20px $gris3;
}

.sombra40{
  box-shadow: 0 0 40px $gris3;
}

/// BODY ///

html {
  width: 100vw;
  height: fit-content;
  background-color: $blanco0;
  overflow-x: hidden;
}

.main{
  position: absolute;
  padding-top: 14vh;
  background-color: $blanco;
  top: 0;
  z-index: -1;
}

/// BANNER ///

.banner-div {
  position: relative;
  display: flex;
  width: 100vw;
  overflow: hidden;
  padding: 12% 20%;
  align-items: center;
  justify-content: center;

  .img-div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/transport-bg.jpg) no-repeat;
    background-size: cover;
    mix-blend-mode: luminosity;
  }
  
  .img-filter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $blanco90, $blanco 80%);
  }

  .text-div {
    z-index: 2;
    text-align: center;

    h2 {
      margin-bottom: 2rem;
      text-shadow: 0 0 10px $blanco;
    }
  }
}

/// SEGUIMIENTO ///

.soluciones-div,
.aplicaciones-div{
  align-items: center;

  .main-title-div{
    width: 45%;

    h1{
      color: $azul;
    }
  }
}

.soluciones-gal,
.aplicaciones-gal{
  row-gap: 40px;

  a{
    width: 140px;

    p{
      width: 100%;
      margin-top: 1em;
      color: $gris3;
    }

    &:hover{

      .sol-icon{

        *{
          fill: $azul;
        }
      }

      p{
        color: $cyan;
      }
    }
  }

  .app-icon{
    height: 100px;
  }

  .sol-icon{
    height: 100px;
    
    *{
      fill: $gris2;
    }
  }
}

/// SOLUCIONES ///

.mas-caracteristicas-div{
  row-gap: 4rem;
  background-color: $gris2;

  h5{
    text-align: center;
  }

  li {
    font-size: 16px;
  }
}

/// DESARROLLO ///

.desarrollo-div{

  .data-info-div{
    width: 50%;

    *{
      width: 100%;
    }

    .flex-row{
      margin-top: 4rem;
    }
  }

  img{
    width: inherit;
    max-height: 60vh;
  }
}

/// FOOTER ///

footer {
  position: relative;
  width: 100vw;
  height: 88vh;
  background-color: $gris-claro;
  z-index: 4;

  a{
    color: $blanco40;

    &:hover {
      color: $blanco;
    }
  }

  a{
    h3 {
      color: $blanco;
      margin-bottom: 1rem;
    }
  }

  .footer-float{
    position: absolute;
    width: 80vw;
    padding: 4%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    row-gap: 2rem;
    background-color: $gris-oscuro;
    box-shadow: 0 0 20px $gris2;

    &:hover,
    &.hover {
      box-shadow: 0 0 40px $gris;
    }

    .flex-row{
      align-items: flex-start;
    }

    .flex-column{
      row-gap: 1rem;
    }
  }

  form.flex-column{
    height: 100%;
    justify-content: space-between;
  }

  .links-form-div{
    column-gap: 4rem;

    a{
      width: 100%;
    }
  }

  .copyright-div{
    align-items: center;
  }

  .map-div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    box-shadow: 0 0 20px $gris3;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1100px) { /// PANTALLAS PEQUEÑAS DE ESCRITORIO ///

  html,
  body,
  * {
    /* THIS ARE THE BRAND CUSTOM STYLES */
    font-size: 14px;
  }

  .main{
    padding-top: 20vh;
  }

  /// FONTS ///

  ul.lista-der{

    li:nth-child(even) {
      margin-left: 6em;
    }
  }

  ul.lista-izq{

    li:nth-child(even) {
      margin-right: 6em;
    }
  }

  /// GENERAL STYLES ///
  .app-div,
  .data-div,
  .app-gallery-div,
  .mas-caracteristicas-div,
  .img-items-div{
    padding: 8%;
  }

  .banner-div{
    padding: 8% 14%;
  }

  .app-div{

    img{
      width: 40%;
    }
  }

  .img-items-div{

    .img-items{
      width: 100%;
      grid-template-columns: auto 35% auto;

      .main-title-div{
        padding: 10% 0 0;
  
        *{
          width: 100%;
        }
      }
    }
  }

  .aplicaciones-gal{
    justify-content: center;

    a{
      margin: 0 2rem;
    }
  }

  .desarrollo-div{
    
    .data-info-div{
      width: 60%;
    }
  }

  /// FOOTER ///

  footer {
    height: 120vh;

    .footer-float{
      width: 80vw;
    }
  }
}

@media screen and (max-width: 1100px) and (min-width: 970px) { /// PANTALLAS MUY PEQUEÑAS, IPAD Y SMARTPHONES EN PAISAJE ///

  html,
  body,
  * {
    /* THIS ARE THE BRAND CUSTOM STYLES */
    font-size: 0.8rem;
  }

  .main{
    padding-top: 18vh;
  }

  /// HEADER ///

  /// GENERAL STYLES ///

  .app-div,
  .app-info-div,
  .data-div,
  .data-info-div,
  .btns-div,
  .mas-caracteristicas-div,
  .app-gallery-div,
  .links-form-div,
  .footer-float{
    gap: 0 !important;
    row-gap: 0 !important;
    column-gap: 0 !important;
  }
  
  .app-div,
  .app-gallery-div,
  .mas-caracteristicas-div,
  .img-items-div{
    padding: 8% 4%;
  }

  .banner-div{
    padding: 8%;
  }  

  .app-div{
    gap: 0;

    .app-info-div{
      margin-left: 5vw;

      p,
      ul {
        margin: 1rem 0;
      }
    }
  }

  .data-div{
    padding: 8% 10%;

    .data-info-div{
      flex-direction: column;
      align-items: baseline;

      *{
        width: 100%;
        margin-bottom: 2rem;
      }
    }

    h1.cyan{
      font-size: 2.5rem;
    }
  }

  .img-items-div{
    
    .img-items{
      grid-template-columns: auto 45% auto;

      ul{
        
        &.lista-izq{
      
          li{
            margin-right: 0;
          }
        }

        &.lista-der{
      
          li{
            margin-left: 0;
          }
        }
      }

      .main-title-div{
        padding: 10% 0 0;
  
        *{
          width: 100%;
        }
      }
    }
  }
  
  .btns-div{
    margin-top: 1rem;
  
    a{
      margin-right: 2em;
    }
  }

  .mas-caracteristicas-div{

    h2{
      margin-bottom: 1em;
    }
  }

  .app-gallery-div{

    .flex-gallery{
      justify-content: center;
    }

    .main-title-div{
      width: 74%;
      margin-bottom: 4rem;
    }
  }

  .soluciones-gal,
  .aplicaciones-gal{

    a{
      margin: 0 40px 1rem;

      p{
        margin-top: 0;
      }
    }
  
    .sol-icon,
    .app-icon{
      height: 120px;
    }
  }

  /// DESARROLLO ///

  .desarrollo-div{
    
    .data-info-div{

      .flex-row{
        flex-direction: column;
        margin-top: 1rem;
      }

      *{
        margin-bottom: 1rem;
      }
    }

    img{
      max-height: inherit;
      width: 45%;
    }
  }

  /// FOOTER ///

  footer{
    height: 180vh;

    .footer-float{

      .links-form-div{
        flex-wrap: wrap;

        .flex-column{
          width: 45%;
          margin-bottom: 2rem;

          &:last-child{
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 970px) and (min-width: 660px) { /// PANTALLA DIVIDA ESCRITORIO ///

  :root,
  html,
  body,
  *,
  *:before,
  *:after {
    /* THIS ARE THE BRAND CUSTOM STYLES */
    font-size: 12px;
  }

  .main{
    padding-top: 14vh;
  }

  /// FONTS ///

  h3{
    font-size: 1rem;
  }

  li{
    font-size: 12px !important;
  }

  /// HEADER ///

  header{

    .nav-contact{
      padding: 8px 24px;
    }

    .logo-gps{
      width: 180px;
      height: auto;
    }

    .navbar{
      padding: 18px 24px;

      a{
        font-size: 10px;
      }
    }
  }

  /// GENERAL STYLES ///

  .banner-div{
    padding: 16% 10%;
  }

  .app-div{
    padding: 10%;
    flex-direction: column;
    row-gap:4rem;

    img{
      width: 60vw;
      height: auto;
    }
  }

  .app-gallery-div{
    padding: 10%;

    .flex-gallery{
      column-gap: 10%;
    }
  }

  .mas-caracteristicas-div{
    padding: 10%;

    ul {
      grid-template-columns: auto auto;
    }
  }

  .soluciones-div,
  .aplicaciones-div{
  
    .main-title-div{
      width: 100%;

      h1{
        margin-bottom: 0.4em;
      }
    }
  }

  .data-div{
    padding: 10%;
    
    .data-info-div{
      flex-direction: column;
      row-gap: 1rem;
      
      *{
        width: 100% !important;
      }
    }
  }

  .img-items-div{

    .img-items{
      grid-template-columns: auto 30% auto;
    }
  }

  /// DESARROLLO ///

  .desarrollo-div{
    flex-direction: column;
    justify-content: center;

    .data-info-div{
      width: 100%;
    }
  }

  /// FOOTER ///

  footer{
    height: 180vh;

    .footer-float{

      .links-form-div{
        flex-wrap: wrap;
        row-gap: 4rem;
      }

      .copyright-div{
        flex-wrap: wrap;
        row-gap: 1rem;
        
        a{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-device-width: 800px) and (min-device-width: 560px) and (orientation: portrait) { /// IPAD EN RETRATO///

  html,
  body,
  * {
    /* THIS ARE THE BRAND CUSTOM STYLES */
    font-size: 1rem;
  }

  .main{
    padding-top: 10vh;
  }

  /// HEADER ///

  header{

    .nav-links{

      a{
        font-size: 0.8rem;
      }
    }
  }
  
  /// GENERAL STYLES ///

  .app-div,
  .app-info-div,
  .data-div,
  .data-info-div,
  .btns-div,
  .mas-caracteristicas-div,
  .app-gallery-div,
  .links-form-div,
  .footer-float{
    gap: 0 !important;
    row-gap: 0 !important;
    column-gap: 0 !important;
  }
  
  .banner-div,
  .app-div,
  .app-gallery-div,
  .mas-caracteristicas-div,
  .img-items-div,
  .data-div{
    padding: 10%;
  }

  .app-div{
    flex-direction: column;
    row-gap:4rem;

    .app-info-div{
      margin-left: 0;
    }

    img{
      width: 60vw;
      height: auto;
      margin-bottom: 4rem;
    }
  }

  .mas-caracteristicas-div{

    ul {
      grid-template-columns: auto auto;
    }
  }

  .soluciones-div,
  .aplicaciones-div{
    padding: 14%;
  
    .main-title-div{
      width: 92%;
    }
  }  

  /// FOOTER ///
  
  footer {
    height: 100vh;
  }    
}

@media screen and (max-device-width: 560px) and (orientation: portrait) { /// SMARTPHONES EN RETRATO ///

  
  :root,
  html,
  body,
  *,
  *:before,
  *:after {
    /* THIS ARE THE BRAND CUSTOM STYLES */
    font-size: 1.5rem;
  }

  .main{
    padding-top: 10vh;
  }

  /// FONTS ///

  h1 {
    font-size: 3.5rem !important; //3.5rem
  }

  li{
    font-size: 1rem !important;
    margin: 0.2em 0;
  }

  ul {
    margin-top: 2rem;
  }

  /// HEADER ///

  header{

    &:hover{
      box-shadow: none;
    }

    .nav-contact{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 20px;

      *{
        margin-bottom: 0.1em;
      }
    }

    .navbar{
      padding: 4% 14%;
      flex-direction: row;
      align-items: baseline;
    }

    .nav-links{
      position: fixed;
      width: 100%;
      height: 7%;
      margin: auto;
      padding: 2% 10%;
      left: 0;
      right: 0;
      bottom: 190px;
      background-color: $blanco95;
      row-gap: 1.5rem;
      overflow: hidden;
      
      &.modal{
        height: 80vh;
        padding: 60% 14% 14%;
        bottom: 0;
        background-color: $blanco;
      }

      a{
        width: 100%;
        background-color: $blanco0;
      }

      #menu-icon{
        display: block;
      }
    }

    .logo-gps{
      width: 100%;
      height: auto;
    }
  }  

  /// GENERAL STYLES ///

  .app-div,
  .app-info-div,
  .data-div,
  .data-info-div,
  .btns-div,
  .mas-caracteristicas-div,
  .app-gallery-div,
  .links-form-div,
  .footer-float{
    gap: 0 !important;
    row-gap: 0 !important;
    column-gap: 0 !important;
  }
  
  .banner-div,
  .app-div,
  .app-gallery-div,
  .mas-caracteristicas-div,
  .img-items-div,
  .data-div{
    padding: 18% 10%;
  }

  .flex-row{
    flex-direction: column;
    row-gap: 0;
    gap: 0;
  }

  .banner-div{
    padding: 24% 10%;
  }

  .btns-div{
    margin-top: 0;
    gap: 0;

    a{
      margin-right: 3rem;
    }
  }

  .app-div{
    gap: 0;

    .app-info-div{
      margin-left: 0;

      p,
      ul {
        margin: 2rem 0;
      }
    }

    img{
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 5vh;
    }
  }

  .data-div{
    gap: 0;

    .data-info-div{
      margin-bottom: 2rem;

      *{
        width: 100% !important;
      }

      h1{
        margin-bottom: 2rem;
      }
    }

    .flex-row:last-child{
      justify-content: start;

      div{
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  .soluciones-gal,
  .aplicaciones-gal{

    a{
      width: 240px;
      height: auto;
    }
  }

  .app-gallery-div{

    .flex-gallery{
      column-gap:0;

      a{
        margin: 4% 8%;
      }
    }

    .main-title-div{
      width: 100%;
      padding: 0;
  
      *{
        width: 100% !important;
      }
    }  
  }


  .img-items-div{

    .img-items{
      grid-template-columns: auto;
    }
  }

  .img-items-div{

    .img-items{
      row-gap: 4rem;
    
      li{
        width: inherit;
        margin-top: 1em;
        margin-bottom: 1em;
        
        h3{
          margin-bottom: 0.5em;
          
        }
      }
    }
  }

  .sol-icon,
  .app-icon{
    width: 200px !important;
    height: inherit !important;
  }

  /// DESARROLLO ///

  .desarrollo-div{

    *{
      margin-top: 0;
      margin-bottom: 0;
    }

    .data-info-div{
      width: 100%;
      margin-top: 4rem;
      margin-bottom: 0;

      .flex-row{
        margin-top: 2rem;
        margin-bottom: 0;
        
        div:last-child{
        margin-bottom: 0;
        }
      }
    }

    img{
      width: 100%;
    }
  }

  /// FOOTER ///

  footer {
    height: 200vh;

    .footer-float{
      padding: 10%;
      row-gap: 0;

      .links-form-div{
        gap: 0;
        margin-bottom: 2rem;

        .flex-column{
          width: 100%;
          margin-bottom: 4rem;
        }
      }
    }

    .copyright-div{

      a{
        margin-bottom: 1em;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }    
}