.gif_gpscontrol {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
}
.gif_gpscontrol > img {
  height: calc(5.88vh * 8);
  width: 100%;
  margin-bottom: calc(5.88vh);
  min-width: 100px;
  min-height: 120px;
}
@media only screen and (max-width: 992px) {
  .gif_gpscontrol {
    position: absolute;
    top: -60vh;
    right: 34vw;
  }
}
