@import url("https://fonts.cdnfonts.com/css/kiona-2");
.home_section1 {
  height: 100vh;
  margin: 0vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eee8f2;
}
.home_section1_start_label{
  clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
  width: calc(8.33vw * 7.3);
  height: calc(5.88vh * 2);
  background: #ed2f4c;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}
.home_section1_start_label > h1 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 700;
  font-size: 6vw;
  line-height: 0.1vh;
  color: #eee8f2;
}
.home_section1_end {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.home_section1_column {
  position: absolute;
  width: calc(8.33vw * 2);
  height: calc(5.88vh * 3);
  background-color: #ed2f4c;
  margin-left: calc(8.33vw * 2);
  border: 1px solid #ed2f4c;
  bottom: 0vh;
  mix-blend-mode: multiply;
}
.home_section1_icons {
  display: flex;
  margin-left: calc(8.33vw);
}
.home_section2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #eee8f2;
}
.home_column_red {
  height: 99.7vh;
  width: calc(8.33vw * 2);
  margin-left: calc(8.33vw * 2);
  background-color: #ed2f4c;
  border: 1px solid #ed2f4c;
  z-index: 1;
  mix-blend-mode: multiply;
}
.home_section2_column {
  display: flex;
  flex-direction: column;
  margin-left: calc(8.33vw * 2);
  margin-right: calc(8.33vw);
  align-items: center;
}
.home_section2_column > h1 {
  font-size: calc(8.33vw * 0.5);
  font-family: "Kiona";
  font-style: normal;
  font-weight: 700;
  color: #eb162c;
  margin-top: -2vh;
  text-shadow: -1px 0 #eb162c, 0 1px #eb162c, 1px 0 #eb162c, 0 -1px #eb162c;
}
.home_section2_column > h3 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 38px;
  color: #6b6b6b;
}
.home_section3_column {
  display: flex;
  flex-direction: column;
  margin-left: calc(8.33vw * 2);
  margin-right: calc(8.33vw);
  align-items: center;
}
.home_section3_column > h1 {
  font-size: calc(8.33vw * 0.5);
  font-family: "Kiona";
  font-style: normal;
  font-weight: 700;
  color: #eb162c;
  margin-top: -2vh;
  text-shadow: -1px 0 #eb162c, 0 1px #eb162c, 1px 0 #eb162c, 0 -1px #eb162c;
}
.home_section3_column > h3 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 38px;
  color: #6b6b6b;
}
.home_section4_column {
  display: flex;
  flex-direction: column;
  margin-left: calc(8.33vw * 2);
  margin-right: calc(8.33vw);
  align-items: center;
}
.home_section4_column > h1 {
  font-size: calc(8.33vw * 0.5);
  font-family: "Kiona";
  font-style: normal;
  font-weight: 700;
  color: #eb162c;
  margin-top: -2vh;
  text-shadow: -1px 0 #eb162c, 0 1px #eb162c, 1px 0 #eb162c, 0 -1px #eb162c;
}
.home_section4_column > h3 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 38px;
  color: #6b6b6b;
}
.home_section2_wifiIcon {
  margin-top: calc(5.88vh * 3);
  align-self: flex-end;
}
.home_section3_circle {
  margin-top: calc(5.88vh * 3);
  align-self: flex-end;
}
.home_section2_label {
  clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
  width: calc(8.33vw * 4.5);
  height: calc(5.88vh * 1.5);
  background: #eee8f2;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  margin-top: -2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_section2_label > h2 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  color: #6b6b6b;
}
.home_section2_body {
  display: flex;
  flex-direction: row;
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  font-size: 1vw;
  color: #6b6b6b;
  width: calc(8.33vw * 4);
  justify-content: space-between;
}
.home_section2_body > div {
  margin-top: calc(5.88vh * 0.5);
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #6b6b6b 15%, transparent 15%) 100% 1;
  width: calc(8.33vw * 3);
  padding-left: calc(8.33vw * 0.2);
  margin-inline: calc(8.33vw * 0.4);
  cursor: pointer;
}
.home_section2_body > div:hover {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #1e8c93 25%, transparent 15%) 100% 1;
  padding-left: calc(8.33vw * 0.4);
  color: #1e8c93;
  transition: padding-left 1s;
}
.home_section2_group {
  display: flex;
  flex-direction: column;
}
.home_section2_group > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(8.33vw * 2);
  height: calc(5.88vh);
  background: #eee8f2;
  border: none;
  margin-top: calc(5.88vh);
  box-shadow: 0px 7.52941px 11.2941px rgba(235, 22, 44, 0.25);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 600;
  color: #1e8c93;
}
.home_section2_group > button:hover {
  background-color: #1e8c93;
  color: white;
}
.home_section2_group > button > img {
  height: calc(5.88vh * 0.7);
  margin-right: calc(8.33vw * 0.1);
}
.home_section3_group {
  display: flex;
  flex-direction: column;
}
.home_section3_group > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(8.33vw * 2);
  height: calc(5.88vh);
  background: #eee8f2;
  border: none;
  margin-top: calc(5.88vh);
  box-shadow: 0px 7.52941px 11.2941px rgba(235, 22, 44, 0.25);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 600;
  color: #1e8c93;
}
.home_section3_group > button:hover {
  background-color: #1e8c93;
  color: white;
}
.home_section3_group > button > img {
  height: calc(5.88vh * 0.7);
  margin-right: calc(8.33vw * 0.1);
}
.home_section4_group {
  display: flex;
  flex-direction: column;
}
.home_section4_group > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(8.33vw * 2);
  height: calc(5.88vh);
  background: #eee8f2;
  border: none;
  margin-top: calc(5.88vh);
  box-shadow: 0px 7.52941px 11.2941px rgba(235, 22, 44, 0.25);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 600;
  color: #1e8c93;
}
.home_section4_group > button:hover {
  background-color: #1e8c93;
  color: white;
}
.home_section4_group > button > img {
  height: calc(5.88vh * 0.7);
  margin-right: calc(8.33vw * 0.1);
}
.home_section2_pantallas {
  position: absolute;
  margin-top: calc(5.88vh * 6);
  z-index: 3;
}
.home_section2_pantallas > img {
  width: calc(8.33vw * 6);
}
.home_section2_combusible {
  position: absolute;
}
.home_section2_combusible > img {
  width: calc(8.33vw * 5);
  mix-blend-mode: multiply;
}
.home_section2_carretera {
  position: absolute;
}
.home_section2_carretera > img {
  width: calc(8.33vw * 5);
  mix-blend-mode: multiply;
  margin-top: calc(5.88vh);
  margin-left: calc(8.33vw);
}
.home_section2_camara {
  position: absolute;
  z-index: 3;
}
.home_section2_camara > img {
  width: calc(8.33vw * 3);
  margin-top: calc(5.88vh * 2);
  margin-left: calc(8.33vw * 3);
}
.home_section3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url("../../assets/redNeuronal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #eee8f2;
}
.home_section3_header {
  height: calc(5.88vh * 1.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: calc(5.88vh * 2);
  margin-right: calc(8.33vw);
  align-self: center;
}
.home_section3_header > img {
  width: calc(8.33vw * 0.2);
  height: calc(5.88vh * 0.8);
  margin-right: calc(8.33vw * 0.2);
}
.home_section3_header > h2 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 400;
  font-size: 4vh;
  line-height: 83px;
  color: #1e8c93;
}
.home_column_red_end {
  position: absolute;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
  height: calc(5.88vh * 14);
  width: calc(8.33vw * 2);
  margin-left: calc(8.33vw * 2);
  background-color: #ed2f4c;
  border: 1px solid #ed2f4c;
  mix-blend-mode: multiply;
}
.home_section1 > video {
  position: absolute;
  width: 100%;
  height: inherit;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.home_section1_start {
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh * 3);
  margin-left: calc(8.33vw * 1);
}
.home_section1_start > h2 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 700;
  color: #eb162c;
  line-height: 0.1vh;
  font-size: 3vw;
}
.home_section1_end_body {
  display: flex;
  flex-direction: column;
}
.home_section1_end_body > img {
  mix-blend-mode: multiply;
  width: calc(8.33vw * 5);
  margin-right: calc(8.33vw);
  margin-top: calc(5.88vh*2.5);
}
.home_section1_end_body > div {
  border-left: solid 3px red;
  padding-left: calc(8.33vw * 0.4);
  margin-bottom: calc(5.88vh);
}
.home_section1_end_body > div > p {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3vw;
  text-align: justify;
  width: calc(8.33vw * 3.7);

  color: #6b6b6b;
}
.home_section1_text {
  display: flex;
  flex-direction: row;
}
.home_section1_column > img {
  width: calc(8.33vw * 2);
  height: inherit;
}
.home_section1_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home_section1_header_end {
  display: flex;
  flex-direction: column;
  margin-top: calc(5.88vh * 6);
  margin-right: calc(8.33vw * 1);
  color: #ed2f4c;
  z-index: 10;
}
.home_section1_header_end > div {
  margin-top: calc(5.88vh * 0.5);
  border-left: 1px solid #ed2f4c;
  width: calc(8.33vw*2);
  padding-left: calc(8.33vw * 0.2);
  height: calc(5.88vh * 0.3);
  font-size: 1.3vw;
}
.home_section1_header_end > div:hover {
  border-left: 3px solid;
  height: calc(5.88vh * 1);
  padding-left: calc(8.33vw * 0.4);
  color: #1e8c93;
  transition: height 1s, padding-left 1s;
}
.home_section3_buttons_up{
  display: flex;
  flex-direction: row;
  margin-top: calc(5.88vh);
  align-self: flex-end;
  margin-right: calc(8.33vw);
}
.home_section3_buttons_up>button{
  height: calc(5.88vh*4);
  width: calc(8.33vw*2);
  background-color: #eee8f2;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  margin-left: calc(8.33vw*0.2);

}
.home_section3_buttons_up>button>img{
  height: calc(5.88vh*2.2);
}
.home_corner_red{
  clip-path: polygon(20% 65%, 35% 80%, 100% 80%, 85% 100%, 0 100%, 0 15%, 20% 0);
  position: absolute;
  top: 464.7vh;
  left: 0;
  background-color: #ed2f4c;
  border: none;
  width: calc(8.33vw*2.2);
  height: calc(5.88vh*6);
  mix-blend-mode: multiply;
}
.modal_home{
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #1E8C93;
  z-index: 100;
  top: 0;
  left: 0;
  filter: blur(450px);
  overflow: hidden;
}
.modal_home_fade{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  background: none;
}
@media only screen and (max-width: 600px) {
  .home_section1_end_body {
    align-items: center;
  }
  .home_section1_end_body > div > p {
    width: calc(8.33vw * 7);

    font-size: 0vh;
  }
  .home_section1_end_body > div {
    z-index: 10;
    padding-left: calc(8.33vw * 1.5);
    border-left: 1px solid white;
    margin-left: calc(8.33vw * 3);
    margin-top: calc(5.88vh * 1);
    width: inherit;
  }
  .home_section1_end_body > img {
    width: calc(8.33vw * 9);
    margin-right: 0vw;
  }
  .home_section1 > video {
    width: inherit;
    height: 100vh;
    object-fit: cover;
  }
  .home_section2 {
    height: 100vh;
  }
  .home_section1_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(5.88vh * 5);
    width: calc(8.33vw);
  }
  .home_column_red {
    position: absolute;
    height: 99.755vh;
    width: calc(8.33vw);
  }
  .home_section2_column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: calc(8.33vw * 0);
  }
  .home_section2_column > h1 {
    font-size: calc(8.33vw * 1);
    margin-left: calc(8.33vw * 4);
    margin-top: calc(5.88vh * 6.5);
    grid-column: 1;
    grid-row: 2/3;
  }
  .home_section2_column > h3 {
    grid-column: 1;
    grid-row: 1/2;
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 38px;
    color: #6b6b6b;
    margin-left: calc(8.33vw * 4);
  }
  .home_section3_column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: calc(8.33vw * 0);
  }
  .home_section3_column > h1 {
    font-size: calc(8.33vw * 1);
    margin-left: calc(8.33vw * 5);
    margin-top: calc(5.88vh * 5);
    grid-column: 1;
    grid-row: 2/3;
  }
  .home_section3_column > h3 {
    grid-column: 1;
    grid-row: 1/2;
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 38px;
    color: #6b6b6b;
    margin-top: calc(5.88vh * 2);
    margin-left: calc(8.33vw * 4);
  }
  .home_section3_column > div:nth-child(3) {
    grid-column: 1;
    grid-row: 2/3;
    margin-top: calc(5.88vh * 7.5);
    margin-left: calc(8.33vw * 3);
  }
  .home_section4_column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: calc(8.33vw * 0);
  }
  .home_section4_column > h1 {
    font-size: calc(8.33vw * 1);
    margin-left: calc(8.33vw * 5);
    margin-top: calc(5.88vh * 5);
    grid-column: 1;
    grid-row: 1/3;
  }
  .home_section4_column > h3 {
    grid-column: 1;
    grid-row: 1/2;
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 38px;
    color: #6b6b6b;
    margin-top: calc(5.88vh * 2);
    margin-left: calc(8.33vw * 4);
  }
  .home_section4_column > div:nth-child(3) {
    grid-column: 1;
    grid-row: 1/3;
    margin-top: calc(5.88vh * 7);
    margin-left: calc(8.33vw * 3);
  }
  .home_section2_label {
    width: calc(8.33vw * 6);
    height: calc(5.88vh * 0.5);
    margin-top: calc(5.88vh * 1);
  }
  .home_section2_label > h2 {
    font-size: 2vh;
  }
  .home_section2_wifiIcon {
    position: absolute;
    left: 70vw;
    top: 153vh;
  }
  .home_section2_wifiIcon > img {
    height: calc(5.88vh * 0.5);
  }
  .home_section2_body {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    width: calc(8.33vw * 10);
  }
  .home_section2_body > div {
    margin-top: calc(5.88vh * 0.2);
    border-bottom: none;
    border-left: 2px solid #6b6b6b;
    width: calc(8.33vw * 6);
    padding-left: calc(8.33vw * 0.2);
    margin-inline: calc(8.33vw * 0.4);
    margin-left: calc(8.33vw * 4);
    border-bottom: none;
    border-left: 1px solid red;
    border-image: none;
    padding-left: calc(5.88vh * 0.5);
    font-size: 1.5vh;
  }
  .home_section2_body > div:hover {
    padding-left: calc(5.88vh * 1);
    border-left: 1px solid #1e8c93;
  }
  .home_section2_pantallas {
    position: absolute;
    display: flex;
    margin: 0vh;
    left: 10vw;
    top: 145vh;
  }
  .home_section1_icons > img {
    height: calc(5.88vh * 2);
    position: absolute;
    right: 11vw;
    top: 45vh;
  }
  .home_section2_pantallas > img {
    z-index: 3;
    width: calc(8.33vw * 10);
  }
  .home_section2_group {
    grid-row: 2/3;
    grid-column: 1;
  }
  .home_section2_group > button {
    margin-top: calc(5.88vh * 7.5);
    width: calc(8.33vw * 5);
    height: calc(5.88vh * 0.75);
    margin-left: calc(5.88vh * 3);
    margin-bottom: calc(5.88vh * 2);
  }
  .home_section2_group > button > img {
    height: calc(5.88vh * 0.5);
  }
  .home_section4_group {
    grid-row: 1/2;
    grid-column: 1;
    margin-top: calc(5.88vh*2);
    z-index: 4;
  }
  .home_section4_group > button {
    margin-top: calc(5.88vh * 10);
    width: calc(8.33vw * 5);
    height: calc(5.88vh * 0.75);
    margin-left: calc(5.88vh * 3);
    margin-bottom: calc(5.88vh * 2);
  }
  .home_section4_group > button > img {
    height: calc(5.88vh * 0.5);
  }
  .home_section3_group {
    grid-row: 2/3;
    grid-column: 1;
  }
  .home_section3_group > button {
    margin-top: calc(5.88vh * 10);
    width: calc(8.33vw * 5);
    height: calc(5.88vh * 0.75);
    margin-left: calc(5.88vh * 3);
    margin-bottom: calc(5.88vh * 2);
  }
  .home_section3_group > button > img {
    height: calc(5.88vh * 0.5);
  }
  .home_section2_combusible {
    grid-row: 2/3;
    grid-column: 1;
  }
  .home_section2_combusible > img {
    position: absolute;
    width: calc(8.33vw * 8);
    top: 35vh;
    left: 25vw;
  }
  .home_section2_camara > img {
    width: calc(8.33vw * 5);
    margin-top: calc(5.88vh * 7);
    margin-left: calc(8.33vw * 6);
  }
  .home_section2_carretera > img {
    width: calc(8.33vw * 8);
    mix-blend-mode: multiply;
    margin-top: calc(5.88vh * 7.5);
    margin-left: calc(8.33vw * 2.5);
  }
  div.home_section2_group:nth-child(4) {
    margin-top: calc(5.88vh * 5);
  }
  .home_section1 {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
  }
  .home_section1_start > h1 {
    font-size: 5vh;
    width: auto;
  }
  .home_section1_start > h2 {
    font-size: 2vh;
    width: auto;
  }
  .home_section1_start {
    padding-top: calc(5.88vh * 1.5);
    margin-left: 0vw;
    align-items: center;
  }
  .home_section1_end {
    align-items: center;
    grid-row: 3/4;
    flex-direction: column;
    grid-column: 1;
  }
  .home_section1_column > img {
    opacity: 0;
  }
  .home_section1_header {
    flex-direction: column;
    grid-row: 2/5;
    grid-column: 1;
  }
  .home_section1_header_end {
    margin-top: calc(5.88vh * 3);
    justify-content: center;
    margin-right: 0vw;
    margin-left: calc(8.33vw * 4.5);
    width: inherit;
  }
  .home_section1_header_end > div {
    margin-inline-end: calc(8.33vw * 2);
    margin-bottom: calc(5.88vh * 0.2);
    width: inherit;
  }
  .home_section1_end_body > img {
    margin-top: calc(5.88vh * 4);
  }
  .home_column_red_end {
    width: calc(8.33vw);
  }
  .home_section2_column > div:nth-child(3) {
    grid-column: 1;
    grid-row: 2/3;
    margin-top: calc(5.88vh * 7.5);
    margin-left: calc(8.33vw * 5);
  }
  .home_section3_circle {
    position: absolute;
    left: 77vw;
    top: 250vh;
  }
}
