.landing_div {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.titulo1_landing {
    font-size: 900%;
    color: #e30521;
}

.cyan {
    font-size: 56px;
    color: #0065CA;
    margin-left: 9%;
}

.content-div {
    background-color: #e30521;
    flex-direction: row;
    justify-content: space-around;
    height: 35px;
    display: flex;
    align-items: center;
    justify-Content: center;
}

.cont-img-what {
    display: flex;
    justify-content: center;
}

.img-what {
    height: 23px;
}

.content-label {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.label-cont {
    color: white;
    font-family: "raleway";
}

.t_robo {
    margin-top: 16vh;
    margin-left: 10%;
    margin-right: 10%;
}

.back-sensor {
    display: flex;
    height: 600px;
}

.back-sensor-img {
    margin-left: 16%;
    background: url(/assets/img/SENSOR_LANDING.png)no-repeat;
    height: 60%;
}

.img-gasolina {
    position: relative;
    left: -19%;
    top: 150px;
}

.label-sensor {
    border-left: 0.15em solid #bbbbbb;
    display: inline-grid;
    height: 110px;
    position: relative;
    bottom: -80px;
    padding-left: 10px;
}

.label-info-sensor {
    font-size: 20px;
    text-align: justify;
    width: 50%;
}

b {
    font-size: 20px;
}

.label-info {
    text-align: center;
    display: inline-grid;
    height: 110px;
    position: relative;
    top: -40px;
    padding-left: 10px;
}

.back-sensor-info {
    border-left: 0.1em solid #bbbbbb;
    border-right: 0.1em solid #bbbbbb;
    border-radius: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 55%;
    align-items: center;
    margin-top: 10%;
}

.contact {
    font-size: 40px;
    line-height: 0.8em;
}

.label-contact {
    font-size: 40px;
}

.form {
    width: 70%;
    height: 150%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.input_info {
    text-align: center !important;
    color: #7a7a7a!important;
    border-bottom: 0.1em solid #bbbbbb;
    font-size: 20px;
}

 ::placeholder {
    color: #7a7a7a !important;
}

.input_bottom {
    border-bottom: 0.1em solid #10c4ff;
    color: #10c4ff !important;
    width: 60px;
    font-size: 20px;
}

.input_bottom::placeholder {
    color: #10c4ff !important;
}

.img-sensor {
    text-align: center;
    display: inline-grid;
    height: 20%;
    position: relative;
    padding-left: 10px;
}

.back-tecnologia-img {
    width: 100%
}

.footer {
    background: rgba(227, 5, 33, 1);
    bottom: 95px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: center;
}

@media screen and (max-width: 1400px) and (min-width: 1100px) {
    .cyan {
        font-size: 53px;
    }
    .back-sensor {
        height: 584px;
    }
}

@media screen and (max-width: 1100px) and (min-width: 970px) {
    .img-sensor {
        height: 20%;
    }
    .back-sensor-img {
        height: 50%;
        background-size: 100%;
    }
    .label-sensor {
        bottom: -250px;
    }
    .t_robo {
        margin-top: 10vh;
    }
    .titulo1_landing {
        font-size: 92px;
    }
    .cyan {
        font-size: 40px;
    }
    .label-sensor {
        bottom: -90px;
        left: 50px;
        height: 140px;
    }
    .back-sensor-info {
        width: 75%;
        height: 50%;
    }
    .back-sensor {
        height: 1069px;
    }
}

@media screen and (max-width: 970px) and (min-width: 660px) {
    .contact {
        font-size: 30px;
    }
    .label-contact {
        font-size: 30px;
    }
    .img-sensor {
        height: 15%;
    }
    .back-sensor-img {
        margin-left: 16%;
        height: 40%;
        background-size: 90%;
    }
    .label-sensor {
        bottom: -90px;
        left: 50px;
        height: 90px;
    }
    .label-info-sensor {
        font-size: 15px;
    }
    .img-gasolina {
        left: -19%;
    }
    .titulo1_landing {
        font-size: 80px;
    }
    .cyan {
        font-size: 35px;
    }
    .input_info {
        font-size: 15px;
    }
    .back-sensor-info {
        width: 75%;
    }
}

@media screen and (max-device-width: 820px) and (min-device-width: 560px) and (orientation: portrait) {
    .contact {
        font-size: 30px;
    }
    .label-contact {
        font-size: 30px;
    }
    .img-sensor {
        height: 15%;
    }
    .back-sensor-img {
        margin-left: 16%;
        height: 40%;
        background-size: 90%;
    }
    .label-sensor {
        bottom: -90px;
        left: 50px;
        height: 90px;
    }
    .label-info-sensor {
        font-size: 15px;
    }
    .img-gasolina {
        left: -19%;
    }
    .titulo1_landing {
        font-size: 80px;
    }
    .cyan {
        font-size: 35px;
    }
    .back-sensor-info {
        width: 70%;
    }
    .back-sensor {
        height: 1027px;
    }
}

@media screen and (max-device-width: 560px) and (orientation: portrait) {
    .contact {
        font-size: 30px;
    }
    .label-contact {
        font-size: 30px;
    }
    .footer {
        display: none;
    }
    .img-sensor {
        height: 15%;
    }
    .back-sensor-img {
        margin-left: 16%;
        height: 40%;
        background-size: 90%;
    }
    .label-sensor {
        bottom: -90px;
        left: 50px;
        height: 90px;
    }
    .label-info-sensor {
        font-size: 15px;
    }
    .img-gasolina {
        left: -19%;
    }
    .t_robo {
        margin-top: 10vh;
    }
    .titulo1_landing {
        font-size: 80px;
    }
    .cyan {
        font-size: 35px;
    }
    .back-sensor-info {
        width: 75%;
    }
}