@import url("https://fonts.cdnfonts.com/css/bahnschrift");

:root {
  --colorGreen: #1e8c93;
  --colorRed1: #ed2f4c;
  --colorRed2: #EB162C;
  --colorRedWine: rgba(235, 22, 44, 0.25);
  --colorGray: #6b6b6b;
  --colorWhite: #eee8f2;
  --typography: "Bahnschrift";
}

.navbar_app {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 20;
}

.navbar_contacts {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: calc(5.88vh * 2.5);
}

.navbar_contacts>a {
  width: calc(7.33vw * 0.34);
  height: calc(5.88vh * 0.5);
  margin-bottom: calc(5.88vh * 0.1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  padding: 0.1vh;
}

.navbar_contacts>a>img {
  height: calc(8.88vh * 0.3);
}

.navbar_contacts>a:nth-child(1) {
  background-color: #030d4f;
}

.navbar_contacts>a:nth-child(2) {
  background-color: var(--colorGray);
}

.navbar_contacts>a:nth-child(3) {
  background-color: var(--colorRed1);
}

.navbar_contacts>a:hover {
  opacity: 0.7;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(5.88vh * 1.5);
  background: var(--colorWhite);
  box-shadow: 0px 0px 7px rgba(30, 140, 147, 0.6);
  z-index: 20;
}

nav>div:nth-child(1) {
  z-index: 36;
}

nav>div:nth-child(2) {
  z-index: 35;
}

nav>div:nth-child(3) {
  z-index: 34;
}

nav>div:nth-child(4) {
  z-index: 33;
}

nav>div:nth-child(5) {
  z-index: 32;
}

nav>div:nth-child(6) {
  z-index: 31;
  /* background-color: #fff; */
}

.navbar_close {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(5.88vh * 1.5);
  background: transparent;
  z-index: 20;
}

.navbar_close>div {
  width: calc(8.33vw * 1.2);
}

.navbar_close>div>img {
  margin-left: calc(8.33vw * 0.5);
  margin-top: calc(5.88vh * 0.5);
}

.main_box {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.navbar_home {
  clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0% 100%);
  color: var(--colorWhite);
  width: calc(8.33vw * 2.3);
  height: 100%;
  background: var(--colorRed2);
  box-shadow: 14px -5px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4vw;
  cursor: pointer;
}

.navbar_home>img {
  height: calc(5.88vh * 1.1);
}

.navbar_home>h1 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  font-size: 3vh;
}

.navbar_home:hover {
  background-color: var(--colorRed2);
  color: white;
}

.navbar_home_click {
  clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0% 100%);
  color: var(--colorRed2);
  width: calc(8.33vw * 2.3);
  height: 100%;
  background: #fff;
  box-shadow: 14px -5px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4vw;
  cursor: pointer;
}

.navbar_home_click>img {
  height: calc(5.88vh * 1.1);
}

.navbar_home_click>h1 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5vw;
}

.navbar_section {
  clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0% 100%);
  margin-left: -3vw;
  color: #1e8c93;
  width: calc(8.33vw * 2.3);
  height: 100%;
  background: #fff;
  box-shadow: 14px -5px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: center;
  align-items: center;
}

.navbar_section_click {
  clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0% 100%);
  margin-left: -3vw;
  color: white;
  width: calc(8.33vw * 2.3);
  height: 100%;
  background: var(--colorRed2);
  box-shadow: 14px -5px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: center;
  align-items: center;
}

.navbar_section_click:hover {
  background-color: #1e8c93;
  color: white;
  cursor: pointer;
}

.navbar_section_text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_section_text>h2 {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  font-size: 2vh;
}

.navbar_section_text>img {
  height: calc(7.88vh * 0.3);
  margin-left: 2vw;
}

.navbar_section_click>div:nth-child(1) {
  margin-bottom: -3vh;
  margin-left: -3vw;
}

.navbar_section_click>div:nth-child(2) {
  margin-right: -2vw;
}

.navbar_section>div:nth-child(1) {
  margin-bottom: -3vh;
  margin-left: -3vw;
}

.navbar_section>div:nth-child(2) {
  margin-right: -2vw;
}

.navbar_section_linea {
  border-bottom: solid 1px red;
  width: calc(8.33vw * 0.15);
  height: 10%;
  margin-right: 1vw;
  margin-left: -2vw;
}

.navbar_section_linea_click {
  border-bottom: solid 1px #fff;
  width: calc(8.33vw * 0.15);
  height: 10%;
  margin-right: 1vw;
  margin-left: -2vw;
}

.navbar_section:hover {
  background-color: #1e8c93;
  color: #fff;
  cursor: pointer;
}

.navbar_ingresos {
  position: fixed;
  bottom: 2vh;
  left: 0vh;
  display: flex;
  flex-direction: column;
}

.navbar_ingresos>a {
  display: flex;
  flex-direction: row;
  font-size: 0.6vh;
  align-items: center;
  background: #fff;
  box-shadow: 0px 2.66667px 4px var(--colorRedWine);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  padding: calc(5.88vh * 0.1);
  border-radius: 8px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  margin-top: calc(5.88vh * 0.5);
  width: calc(8.33vw * 0.5);
  justify-content: center;
}

.navbar_ingresos>a>img {
  height: calc(5.88vh * 1.5);
  width: calc(8.33vw * 0.25);
}

.navbar_ingresos>a:nth-child(1) {
  color: var(--colorRed2);
}

.navbar_ingresos>a:nth-child(5):hover {
  background-color: #eb162bb1;
  color: #fff;
}

.navbar_ingresos>a:nth-child(3):hover {
  background-color: #238d95d7;
  color: #fff;
}

.navbar_ingresos>a:nth-child(1):hover {
  background-color: #238d95d7;
  color: #fff;
}

.text_suport {
  opacity: 0;
  position: fixed;
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  background-color: var(--colorGray);
  color: #fff;
  padding-inline: 1.5vw;
}

.navbar_ingresos>a:nth-child(1):hover+.text_suport {
  opacity: 1;
}

.navbar_ingresos>a:nth-child(3):hover+.text_suport {
  opacity: 1;
}

.navbar_ingresos>a:nth-child(5):hover+.text_suport {
  opacity: 1;
}

.text_suport:nth-child(2) {
  bottom: calc(8.33vh * 2.5);
  left: calc(5.88vh * 1.5);
}

.text_suport:nth-child(4) {
  bottom: calc(8.33vh * 1.7);
  left: calc(5.88vh * 1.5);
}

.text_suport:nth-child(6) {
  bottom: calc(8.33vh * 0.7);
  left: calc(5.88vh * 1.5);
}

.hamburguer_nav {
  display: flex;
  flex-direction: column;
  height: calc(4.88vh * 1.5);
  width: calc(7.33vw * 0.5);
  background: var(--colorRed2);
  box-shadow: 0px 0px 15px 2px rgba(107, 107, 107, 0.5);
  border-radius: 0px 0px 5px 5px;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: calc(5.88vh * 0.3);
  border: none;
  cursor: pointer;
}

/* .hamburguer_nav:hover {
  background-color: #eb162bb1;
} */

.hamburguer_nav:hover>.iconBurguer {
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
}

.iconBurguer {
  width: 60%;
  height: calc(5.88vh * 0.3);
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
}

.navbar_close_button {
  opacity: 0;
  background: #fff;
  box-shadow: 0px 6px 10px 2px var(--colorRedWine);
  border-radius: 0px 0px 5px 5px;
  color: var(--colorRed2);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 900;
}

.navar_section_select>h1 {
  font-size: 0;
}

.navar_section_select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(5.88vh * 1.5);
}

.navar_section_select>img {
  width: calc(8.33vw * 0.5);
}

body {
  background: #303030;
}

.contenedor {
  position: relative;
  height: 290px;
  width: 290px;
  margin: 50px 20px;
  float: left;
}

.contenedor img {
  position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}

.contenedor img.top:hover {
  opacity: 0;
}



@media only screen and (max-width: 992px) {
  .display__none__icon {
    display: none;
  }

  .navbar_close {
    display: flex;
    flex-direction: column;
  }

  .navar_section_select {
    display: none;
  }

  .navar_section_select>img {
    width: auto;
    height: calc(5.88vh * 1);
  }

  .navar_section_select>h1 {
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: 300;
    font-size: 2vh;
    margin-right: calc(8.33vw * 2.5);
  }

  .navar_section_select:hover {
    background-color: #fff;
    color: var(--colorRed2);
  }

  .navbar_close {
    width: calc(8.33vw*1);
  }

  .navbar_close_button {
    opacity: 1;
  }

  .iconBurguer {
    margin-top: calc(5.88vh * 0.2);
  }

  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 20;
    width: 90vw;
    box-shadow: none;
    background-color: transparent;
    top: 0;
  }

  .navbar_section,
  .navbar_home,
  .navbar_home_click {
    width: 80% !important;
  }

  .navbar_section {
    height: calc(5.88vh * 1.2);
    clip-path: none;
    margin-left: 0;
  }

  .navbar_home {
    height: calc(5.88vh * 1.2);
    clip-path: none;
  }

  .navbar_home>img {
    width: calc(8.33vw * 2);
  }

  .navbar_home>h1 {
    margin-right: calc(8.33vw * 4);
  }

  .navbar_home_click>img {
    width: calc(8.33vw * 2);
  }

  .navbar_home_click>h1 {
    margin-right: calc(8.33vw * 4);
    font-size: 3vh;
  }

  .navbar_section_click {
    height: calc(5.88vh * 1.2);
    clip-path: none;
    width: 83% !important;

  }

  .navbar_home_click {
    background-color: #fff;
    height: calc(5.88vh * 1.2);
    margin-top: calc(5.88vh * 0);
    clip-path: none;
  }

  .navbar_contacts {
    margin-top: calc(5.88vh * 1.5);
  }

  .navbar_contacts>a {
    width: calc(8.33vw * 1.5);
    height: calc(5.88vh * 0.8);
  }

  .navbar_contacts>a>img {
    height: calc(5.88vh * 0.5);
  }

  .hamburguer_nav {
    width: calc(8.33vw * 1.5);
    /* margin-top: calc(2.94vh * 6); */
    border-radius: 0px 5px 5px 0px;
    height: calc(2.94vh * 1.5);
  }

  .navbar_ingresos>a:nth-child(1) {
    color: var(--colorRed2);
    width: calc(8.33vw * 1);
  }

  .navbar_ingresos>a:nth-child(1)>img {
    width: calc(8.33vw * 0.7);
  }

  .navbar_ingresos>a:nth-child(3) {
    width: calc(8.33vw * 1);
  }

  .navbar_ingresos>a:nth-child(3)>img {
    width: calc(8.33vw * 0.7);
  }

  .navbar_ingresos>a:nth-child(5) {
    width: calc(8.33vw * 1);
  }

  .navbar_ingresos>a:nth-child(5)>img {
    width: calc(8.33vw * 0.7);
  }
}