.content__form {
    width: calc(8.33vw*4);
    height: calc(5.88vh*10);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 6px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.content__form>* {
    width: calc(8.33vw*3.5);
}

.content__form>p {
    color: #1E8C93;
    text-align: center;
    font-family: "Bahnschrift";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: inherit;
    margin-top: 30px;
}

.content__form>input {
    border: none;
    height: calc(5.88vh*1);
    font-size: 18px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px -4px 2px 2px rgba(107, 107, 107, 0.15) inset;
}

.content__form>input::placeholder,
select,
textarea {
    color: #6B6B6B;
    font-family: "Bahnschrift";
    font-size: 20px;
    padding-left: 10px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.content__form-select>select {
    width: calc(8.33vw*3.5);
    height: calc(5.88vh*1);
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ED2F4C;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--color-withe);
    font-family: "Bahnschrift";
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

.content__form-select i{
	position: absolute;
	right: calc(8.33vw*1.5);
	top: calc(5.33vh*11.7);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #ffffff;
	border-bottom:4px solid #ffffff;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content__form-select:hover i{
	margin-top: 3px;
}

.imgSelect {
    cursor: pointer;
}

.content__form-texarea>textarea {
    width: calc((8.33vw*3.5) - 12px);
    height: calc(5.88vh*3);
    color: #6B6B6B;
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px -4px 5px 2px rgba(107, 107, 107, 0.25) inset;
}

.content__link {
    margin: 0 0 10px -50px;
}

.content__link a {
    margin: 0 0 0 10px;
    text-decoration: none;
    color: #EB162C;
    font-family: "Klik";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.content__button-form {
    display: flex;
    justify-content: space-evenly;
}

.content__button-form>button {
    margin-top: 2px;
    margin-bottom: 15px;
    border: none;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 7.529411792755127px 11.29411792755127px 0px rgba(235, 22, 44, 0.25);
    color: #1E8C93;
    font-family: "Bahnschrift";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .content__form {
        width: calc(8.33vw*9.5);
        height: calc(2.94vh*13);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }

    .content__form>p {
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 8px;
    }

    .container__form form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content__form>* {
        width: calc(8.33vw*9);
    }

    .content__form>input {
        border-radius: 5px;
        font-size: 10px;
    }

    .content__form-texarea {
        width: calc(8.33vw*8);

    }

    .content__form-texarea>textarea {
        width: calc(8.33vw*7.4);
        height: calc(2.94vh*4);
        padding: 10px;
    }

    .content__form-select {
        display: flex;
        align-items: center;
        width: calc(8.33vw*8);
    }

    .content__form-select>label {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        right: 20vw;
        width: 15px;
    }
    
    .content__form-select>label>img {
        object-fit: cover;
        width: 15px;
    }
    
    .imgSelect {
        margin-top: 0;
        margin-left: -10px;
    }

    .content__form>input,
    .content__form-select>select {
        height: calc(2.94vh*1);
        width: calc(8.33vw*8);
        border-radius: 5px;
    }

    .content__form-select i{
        top: calc(2.94vh * 12.4);
        right: calc(8.33vw * 2.5);
        width: 10px;
        height: 10px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
    }

    .content__form-select:hover i {
        margin: 0;
    }

    .content__form>input::placeholder,
    select,
    textarea {
        font-size: 10px;
        padding-left: 10px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
    }


    .content__link {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .content__link a {
        font-size: 10px;
    }

    .content__link>img {
        margin: 0;
        width: 15px;
        height: auto;
    }

    .content__button-form>button {
        margin: 0;
        width: 60px;
        height: 20px;
        font-size: 11px;
        border-radius: 5px;
    }
    
    .op {
        width: calc(8.33vw*3.5);
        height: calc(5.88vh*1);
    }

    #img_select>option {
        background-color: #ED2F4C;
        border: none;
    }

}