.container__gifLogo {
    display: none;
}

@media only screen and (max-width: 992px) {
    .container__gifLogo {
        display: flex;
        justify-content: center;
        grid-column: 5/9;
        margin-top: calc(2.94vh*2);
        /* grid-row: 2/6; */
        height: calc(2.94vh*4);
        width: auto;
    }

    .container__gifLogo>video {
        height: calc(2.94vh*4);
        width: auto;
    }

    .apps_section1_bg > h1 {
        margin: 0;
    }

    .swiper_apps {
        margin-top: 0!important;
    }
}