.margin--container>.title--component__monitoreo {

}

.title--component__monitoreo {
    color: #ED2F4C;
    font-family: "Klik";
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.titlec2--component__monitoreo {
    color: #1E8C93;
}

.subTitle--component__monitoreo,
.subTitle--component__monitoreo1 {
    color: #6B6B6B;
    font-weight: 700;
}

.subTitle--component__monitoreo,
.text--component__monitoreo,
.subtitlec2--component__monitoreo,
.subTitle--component__monitoreo1 {
    text-align: justify;
    font-family: "Bahnschrift";
    font-size: 20px;
    font-style: normal;
    margin: 0;
}

.subTitle--component__monitoreo1 {
    height: 4.5em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.subTitle--component__monitoreo1::-webkit-scrollbar {
    display: none;
}

.text--component__monitoreo {
    color: #6B6B6B;
    font-weight: 300;
    line-height: normal;
}

.subtitlec2--component__monitoreo {
    color: #ED2F4C;
    font-weight: 300;
    line-height: normal;
}

.margin--container {
    display: flex;
    flex-direction: column;
    margin: 35px 55px 0px 55px;
}