.cont--text--container--white__modal__accidentes {
    margin-top: calc(5.88vh*.2);
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.cont--text--container--white__modal__accidentes>div {
    display: flex;
    gap: 10px;
    margin: 0 14px 0 40px;
}

.filter_gray {
    filter: grayscale(100%);
}