@import url("https://fonts.cdnfonts.com/css/das-reicht-gut");

.leads_page {
  height: 100vh;
  background-color: #eee8f2;
}

.leads_page_background {
  background: url("../../assets/fondoLeads.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leads_page_start {
  display: flex;
  flex-direction: column;
  width: calc(8.33vw * 8);
}

.leads_page_start_bg {
  position: absolute;
  z-index: 0;
  width: calc(8.33vw * 8);
  mix-blend-mode: multiply;
  height: 100%;
  background-color: rgba(237, 47, 76, 1);
}

.leads_page_start>h2 {
  color: white;
  font-size: 5vw;
  margin-top: calc(5.88vh * 3.8);
  margin-left: 8.33vw;
  margin-bottom: 5.88vh;
}

.leads_page_form {
  display: flex;
  flex-direction: row;
  isolation: isolate;
}

.leads_page_form_start {
  display: flex;
  flex-direction: column;
}

.leads_page_form_start>p {
  color: white;
  margin-left: calc(8.33vw * 1.2);
  width: calc(8.33vw * 3);
  font-size: 1vw;
}

.leads_page_form_start_control {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.88vh;
  margin-left: calc(8.33vw * 0.8);
}

.leads_page_form_start_control>img {
  width: 2vw;
}

.leads_page_form_start_control>label>input {
  height: calc(5.88vh);
  background: #fff;
  box-shadow: inset 0px -4px 5px 2px rgba(107, 107, 107, 0.25);
  border: none;
  border-radius: 10px;
  margin-left: calc(5.88vh * 0.3);
  width: calc(8.33vw * 3);
  font-size: 1.5vw;
  outline: none;
}

.leads_page_form_start_control>label>input::placeholder {
  padding-left: 10px;
}

.leads_page_form_start_control:nth-child(5) {
  margin-left: calc(8.33vw * 1.01);
}

.leads_page_form_end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: calc(5.88vh * 0.5);
}

.leads_page_form_end>input {
  background-color: transparent;
  color: white;
  text-decoration: underline;
  border: none;
  margin-top: 5vh;
}

.leads_page_form_end>button {
  color: #1E8C93;
  border: none;
  width: 5vw;
  margin-top: 10px;
  padding: calc(5.88vh*0.2);
  border-radius: 5px;
  align-self: end;
  background-color: #eee8f2;
  isolation: isolate;
  background-clip: unset;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  color: #1E8C93;
  font-family: "Bahnschrift";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.02%;
  /* 18.67px */
}

.leads_page_form_end>button:hover {
  background-color: white;
  color: red;
}

.leads_page_form_end>button:active {
  background-color: rgba(255, 255, 255, 0.561);
  color: red;
}

.leads_page_form_end>label>textarea {
  height: calc(5.88vh * 4);
  background: #fff;
  box-shadow: inset 0px -4px 5px 2px rgba(107, 107, 107, 0.25);
  border: none;
  border-radius: 10px;
  margin-left: calc(5.88vh * 0.6);
  width: calc(8.33vw * 3);
  font-size: 12px;
}

.leads_page_form_end>h2 {
  font-family: "Das Reicht Gut Regular";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #eee8f2;
  font-size: 2vw;
}

.leads_page_end_img>img {
  width: calc(8.33vh * 4);
  margin-top: calc(5.88vh * 3);
  margin-right: 5vw;
}

.leads_page_end_img {
  display: flex;
  flex-direction: row;
  margin-left: 8vw;
}

.leads_page_end {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: calc(8.33vw * 4);
}

.leads_page_end_gray {
  width: 8.33vw;
  height: 5.88vh;
  background: #6b6b6b;
  align-self: self-start;
  margin-top: calc(5.88vh * 0.7);
}

.leads_page_end_white {
  width: 8.33vw;
  height: 5.88vh;
  background: #eee8f2;
  align-self: self-start;
  margin-top: calc(5.88vh * 0.5);
}

.leads_page_end_green {
  width: 8.33vw;
  height: 5.88vh;
  background: #1e8c93;
  align-self: self-start;
  margin-top: calc(5.88vh * 0.5);
}

.leads_page_end_blue {
  width: 8.33vw;
  height: 5.88vh;
  background: #030d4f;
  align-self: self-start;
  margin-top: calc(5.88vh * 0.5);
}

.leads_page_end_red {
  width: 8.33vw;
  height: 5.88vh;
  background: #ed2f4c;
  align-self: self-start;
  margin-top: calc(5.88vh * 0.5);
}

.leads_page_end_redwine {
  width: 8.33vw;
  height: 5.88vh;
  background: #eb162c;
  align-self: self-start;
  margin-top: calc(5.88vh * 0.5);
}

textarea {
  resize: none;
}

.leads_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: calc(8.33vw*0.5);
}

.leads_buttons>button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  width: calc(8.33vw * 1.3);
  height: calc(5.88vh * 1);
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: calc(5.88vh * 1);
  margin-inline: calc(8.33vw*0.1);
  color: #eee8f2;
  text-align: justify;
}

.leads_page_end_img_white>img {
  height: 0vh;
}

.leads_page_start_text {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-size: 20px;
  text-align: justify;
  color: #FFFFFF;
  font-weight: normal;
}

.leads_page_start_text>p>span {
  font-weight: 100;
}

.leads_button_dontcheck {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  opacity: 0.7;
  box-shadow: 0px 4px 4px #030d4f;
}

@media only screen and (max-width: 600px) {
  .leads_page_form {
    display: flex;
    flex-direction: column;
    margin-top: calc(5.88vh * 2);
  }

  .leads_page_end {
    width: 0vh;
  }

  .leads_page_start {
    width: 100%;
  }

  .leads_page_start_bg {
    width: 100%;
    height: 170vh;
  }

  /* 
  .leads_page_form_start_control {
    margin-left: calc(8.33vw*2);

  } */

  /* .leads_page_form_start_control:nth-child(5) {
    margin-left: calc(8.33vw * 2.2);
  } */

  .leads_page_form_start>h6 {
    width: calc(8.33vw * 8);
    margin-left: calc(8.33vw * 2.2);
  }

  .leads_page {
    height: 170vh;
  }

  .leads_page_form_end>button {
    width: calc(8.33vw * 3);
    font-size: 2vh;
    align-self: center;
  }

  .leads_page_end_img_white {
    height: calc(5.88vh * 0.7);
    align-self: self-start;
    margin-top: calc(5.88vh);
    margin-left: calc(8.33vw * 2);
    z-index: 1;
  }

  .leads_page_end_img_white>img {
    height: calc(5.88vh * 0.7);
  }

  .leads_page_end_img {
    margin: 0vh;
    opacity: 0;
  }

  .leads_page_end_img>img {
    height: 0vh;
    width: 0vw;
    margin: 0vh;
  }

  .leads_buttons>button {
    padding-inline: 5vw;
  }

  .leads_page_start_text {
    width: 0vh;
    height: 0vw;
    font-size: 0vh;
  }
}


/***************************************************************************/
.container--form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17, 1fr);
  background: url("../../assets/fondoLeads.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: -2;
}

.content--form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 1fr);
  border-radius: 20px;
  width: calc(8.33vw*8);
  height: calc(5.88vh*13);
  grid-column: 3/11;
  grid-row: 4/16;
}

.content--text__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(8.33vw*3);
  margin-bottom: calc(5.88vh*0.5);
}

.content--formLeft {
  z-index: 1;
  grid-column: 1/4;
  grid-row: 2/13;
}

.copntent--formRight {
  z-index: 1;
  grid-column: 6/8;
  grid-row: 3/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont--text {
  /* display: flex;
  width: calc(8.33vw*2); */
  grid-column: 2/4;
  grid-row: 2/3;
}

.container--imgParticles__form {
  grid-column: 1/11;
  grid-row: 4/18;
}

.img--particles__form {
  max-height: 86vh;
  width: calc(8.33vw*10);
  bottom: 0;
  left: 0;
  opacity: 5;
}

.pruebas {
  position: absolute;
  min-width: calc(8.33vw*8);
  min-height: calc(5.88vh*13);
  background-color: #ED2F4C;
  border-radius: 20px;
  z-index: 0;
  mix-blend-mode: multiply;
}

.leads_page_form_end textarea {
  outline: none;
}

.container--icons__form {
  grid-column: 9/11;
  grid-row: 3/4;
}

.icons--form {
  width: calc(8.33vw*2);
}

.img--contText__form {
  width: calc(8.33vw*2);
  margin-left: calc(8.33vw*1.5);
  margin-bottom: calc(5.88vh*1);
}

.icons--form__white {
  display: none;
}

.text--movile__form {
  display: none;
}

@media screen and (max-width: 768px) {
  .container--form {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(34, 1fr);
  }

  .container--imgParticles__form {
    display: none;
  }

  .container--icons__form {
    grid-row: 5/6;
    grid-column: 4/10;
    z-index: 20;
    width: calc(8.33vw*6);
  }

  .pruebas {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .content--form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(34, 1fr);
    border-radius: 20px;
    width: 100%;
    height: 100vh;
    grid-column: 3/11;
    grid-row: 4/16;
  }

  .content--form {
    grid-column: 1/13;
    grid-row: 1/35;
  }

  .img--contText__form {
    width: calc(8.33vw*10);
    margin: 0;
  }

  .leads_page_form_end>label>textarea {
    margin-left: calc(8.33vw * 2);
    height: calc(2.94vh * 7);
    width: calc(8.33vw * 7.5);
    font-size: 9px;
  }

  .leads_buttons>button {
    width: calc(8.33vw*3.8);
    height: calc(2.94vh*1.5);
  }

  .leads_page_form_start_control {
    justify-content: center;
    margin-bottom: calc(2.94vh*1);
    margin-left: 0;
  }

  .leads_page_form_start_control>label>input {
    width: calc(8.33vw*7.8);
    height: calc(2.94vh*1.3);
    border-radius: 5px;
    font-size: 3.5vw;
  }

  .leads_page_form_start_control>img {
    height: calc(2.94vh*1);
  }

  .plataforma_sectionq_body_text_a3>div {
    font-size: 14px;
  }

  /*container left*/
  .content--formLeft {
    grid-column: 1/13;
    grid-row: 1/20;
    max-height: calc(2.94vh*20);
  }

  .copntent--formRight {
    z-index: 1;
    grid-column: 1/13;
    grid-row: 20/30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: calc(2.94vh*15);
    align-items: center;
  }

  .cont--text {
    margin-top: calc(2.94vh*3);
    display: flex;
    justify-content: center;
  }

  .leads_page_form_end>label>textarea,
  .leads_page_form_end {
    margin: 0;
  }

  .leads_page_form_end {
    margin: 0;
  }

  .content--text__form {
    display: none;
  }

  .leads_page_form {
    margin-top: calc(2.94vh * 3);
  }

  .leads_buttons>button {
    margin-bottom: calc(2.94vh*1);
  }

  input .input__company {
    margin-left: 0;
    background-color: red;
  }

  .leads_page_form_start_control>img {
    width: 7vw;
  }

  .icons--form__white {
    width: calc(8.33vw*7);
  }

  .icons--form__white {
    display: block;
  }

  /*container left*/

  .container--text--mobile__form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text--mobile__form {
    display: block;
    color: #FFF;
    font-family: Bahnschrift;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

}